[2014-10-13 08:56] OldMike opened #1 "/MySB/* non accessible"
Salut,

Bravo pour le boulot !  Testé sur des Kimsufi - Wheezy @OVH.

J'ai rencontré un problème de permission en voulant aller sur ces pages : /MySB/SeedboxInfo.php/ - ManageIP.php/ - ChangePassword.php
En revanche les accès CakeBox/ruTorrent/Webmin/Seedbox-Manager fonctionnent bien.

J'ai du éditer /etc/nginx/locations/MySB.conf et ajouter mon IP perso dans les allow. Sauf erreur de ma part, dan

[2014-10-14 20:08] litori opened #2 "Plex port not open"
Plex port 32400 is not opened and have to add it manually in the IPtables.  The IPtables get overridden each time peerguardian updates and have to add the port in again...

[2014-11-10 23:03] #1 closed, assigned to toulousain79

[2014-11-10 23:04] #2 closed, assigned to nobody

[2015-01-08 23:16] ItsAdventureTime opened #3 "Using MySB was not successful."
Hi,

First of all, I would like to congratulate you with the script! I find your script awesome and full of really nice and unique features! This is definitely better than Kerwood and the SeedboxCreatorScript. Although, I would like to be able to use CentOS instead of Debian/Ubuntu though. Anyway, I installed it on my Kimsufi server, I used Debian 7. Well, after the installation, it automatically

[2015-01-09 10:51] toulousain79 commented on #3
Without log file or access to your server, I can not help you much.
I can only advise you to wait a little, until I finish the new version.

Regards

[2015-01-09 16:46] ItsAdventureTime commented on #3
Hi,

Thanks. Well, for the log files they are now gone. Because I reformatted it and installed Ubuntu Server 14.10. I must say, the performance of your script is much faster than Debian 7 and I don’t know why. Another thing, I hope you can create a version of your script for CentOS. Also, what are the enabled “jails” in the included fail2ban of your script?

Thanks.

[2015-01-09 22:18] ItsAdventureTime commented on #3
Hi, 

Your script does not work on Ubuntu Server v14.10 because after your script restarted it, the server does not work anymore and I have not received an e-mail that contains my logins. In short, it is only for Debian 7. 

Thanks. 

—
Sent from Mailbox

On Fri, Jan 9, 2015 at 6:51 PM, toulousain79 <notifications@github.com>
wrote:

[2015-01-09 23:12] ItsAdventureTime commented on #3
I am currently installing your script into a Debian 7 server again. The installation is really slow yet it works. After your script restarts my server (although it takes a long time), I receive the e-mail that contains my login info.

![screen shot 2015-01-10 at 7 08 36 am](https://cloud.githubusercontent.com/assets/8077729/5688878/9f7b5092-9897-11e4-821f-c28fb79b8b46.png)

[2015-01-10 03:39] toulousain79 commented on #3
Well, thank you for your report.
Sources.list are not configured for Ubuntu but only for Debian, for now.
Did you use LOCAL or another SMTP provider?

For Fail2ban, you can check rules here https://github.com/toulousain79/MySB/blob/v1.1/install/Fail2Ban. All users' IP are in the whitlist (ignoreip). All new IP are added here.

[2015-01-10 04:58] ItsAdventureTime commented on #3
Hi,

Thanks for replying. It's a pleasure to report those things to you! As
always, I use LOCAL instead of manually using an SMTP server. I just use my
GMail e-mail as the address where your script is going to send my login
info. Awesome! Thank you for providing me the fail2ban stuff.

I am willing to let you have access to my server. Actually, it's an old
one. I won't be renewing it by next month

[2015-01-10 05:35] toulousain79 commented on #3
For a dynamic IP address, the next version will be able to handle this.
https://github.com/toulousain79/MySB/blob/dev/Changelog.md
The script 'https://github.com/toulousain79/MySB/blob/dev/scripts/DynamicAddressResolver.bsh' will be run every 5 minutes to update the IPs.
For the primary user at the beginning of the installation, you must enter your IP directly.
After installation, you have to go i

[2015-01-10 05:37] ItsAdventureTime commented on #3
I am willing to give you access to my server for debugging the script. I'll send you the details in private email

—
Sent from Mailbox

On Sat, Jan 10, 2015 at 1:35 PM, toulousain79 <notifications@github.com>
wrote:

[2015-01-19 16:55] ItsAdventureTime commented on #3
I have a question.
When your script reaches the end and wants to restart the server of the user of your script, what is the command that you use? Do you use "shutdown -r now"?

[2015-01-19 17:17] toulousain79 commented on #3
No, reboot

[2015-01-19 17:19] ItsAdventureTime commented on #3
So, you use “reboot now” ?
I will be sending you screenshots of what happened to my server. By the
way, using an Ubuntu-based operating  system doesn’t work. The second
“screen” session just crashes. It is the same thing when using Debian 6.
In short, since you have mentioned that it works when using Debian 7, it
really does work. Lol.

From:  toulousain79 <notifications@github.com>
Reply-To:  tou

[2015-01-19 17:27] toulousain79 commented on #3
I'm almost finished the new version.
In it, I disabled the possibility to install MySB on Ubuntu or Debian < 7.
I am actually interested to have screenshots, it would help to development.

[2015-01-19 17:30] ItsAdventureTime commented on #3
Of course, I’d be happy to provide you the screenshots. Basically, it
happens every time the installation finishes. I have no idea why. I find
it really disappointing though. Because I really want to use your script.

From:  toulousain79 <notifications@github.com>
Reply-To:  toulousain79/MySB
<reply+007b41a18d7b6d68e837ef446fbf6d174ae09c11234a16a692cf0000000110d50070
92a169ce03352411@reply.github.

[2015-01-19 17:40] toulousain79 commented on #3
Where do you want to install MySB, at home or a provider ?

[2015-01-19 17:41] ItsAdventureTime commented on #3
I rent a dedicated server in France.

From:  toulousain79 <notifications@github.com>
Reply-To:  toulousain79/MySB
<reply+007b41a16269bc68a29134f236c41c9ad88724ada98b689692cf0000000110d50390
92a169ce03352411@reply.github.com>
Date:  Tuesday, January 20, 2015 at 1:40 AM
To:  toulousain79/MySB <MySB@noreply.github.com>
Cc:  Juan Karlo de Guzman <jkarlodg@gmail.com>
Subject:  Re: [MySB] Using MySB was

[2015-01-20 01:17] toulousain79 commented on #3
Do you have the opportunity to try the development version, and make me a return?

When this version is no longer being developed, it will surely be necessary to reinstall it.

https://github.com/toulousain79/MySB/tree/dev

Thank you very much for your participation.

[2015-01-20 06:05] ItsAdventureTime commented on #3
I've tried it.
Here's the result:

[code]

I installed it under Debian 7.

[2015-01-20 10:23] toulousain79 commented on #3
What is your server model and kernel??? I have tested it on Debian 7 32 and 64 and it was ok. Tested it too on Ubuntu, the script say was not possible. But I never had this display...

[2015-01-20 11:08] ItsAdventureTime commented on #3
Tell me your e-mail and I will let you use my server. 

—
Sent from Mailbox

On Tue, Jan 20, 2015 at 6:23 PM, toulousain79 <notifications@github.com>
wrote:

[2015-01-20 11:14] toulousain79 commented on #3
toulousain79@gmail.com

[2015-01-20 11:14] toulousain79 commented on #3
Can you test again please ? I think I found the mistake.

[2015-01-20 11:15] ItsAdventureTime commented on #3
Okay wait up let me reinstall debian 7

—
Sent from Mailbox

On Tue, Jan 20, 2015 at 7:14 PM, toulousain79 <notifications@github.com>
wrote:

[2015-01-20 13:11] ItsAdventureTime commented on #3
Please check your e-mail. I just sent the required info. 

—
Sent from Mailbox

On Tue, Jan 20, 2015 at 7:15 PM, toulousain79 <notifications@github.com>
wrote:

[2015-02-16 16:25] triggz opened #5 "doesn't work for me"
everything seems to work fine until it starts the screen session and asks me if i want to continue with the install, i input yes and it says

#### Preparing the installation ####
1/22      - Creating security rules....Write failed: Connection reset by peer

then it disconnects me from the server and I am unable to gain access again without reinstalling debian

I've tried reinstalling the script ar

[2015-02-16 17:41] toulousain79 commented on #5
Hi,
I suppose you have an OVH server (or kimsufi SoYouStart), right?
Before you start installing MySB, what is the result of the following command ?
uname -a

[2015-02-16 17:56] triggz commented on #5
I have an AlphaRacks server this is the output of the commandLinux triggz 2.6.32-042stab102.9 #1 SMP Fri Dec 19 20:34:40 MSK 2014 i686 GNU/Linux

Date: Mon, 16 Feb 2015 09:41:24 -0800
From: notifications@github.com
To: MySB@noreply.github.com
CC: cieranduffey@hotmail.com
Subject: Re: [MySB] doesn't work for me (#5)

Hi,

I suppose you have an OVH server (or kimsufi SoYouStart), right?

Before you

[2015-02-16 18:09] toulousain79 commented on #5
OK, you do not have a Debian kernel.
What is your AlphaRacks server model ? (Budget VPS OVZ-X or Dedicated Server)
Try running the command 'aptitude search linux-image', and give me the result.

[2015-02-16 18:16] triggz commented on #5
Budget VPS OVZ-X i'm guessing, I got the 2015 New Year Special - Los Angeles OVZ 4GB

I get a command not found error

[2015-02-16 18:23] toulousain79 commented on #5
I'm sorry but MySB is not compatible with VPS.
MySB use some tools that require a standard kernel, and VPS does not use standard kernel.
If you want to use MySB, you must get a real dedicated server, not a Virtual Private Server.

[2015-02-16 18:24] triggz commented on #5
ok thanks anyway

[2015-02-23 14:36] CaptainTib opened #6 "Problème mise à jour MySB"
Bonjour,

J'avais une installation de MySB v1.1 relativement light (pas de OpenVPN, Webmin, PlexMedia Server)
mais l'ensemble fonctionnait relativement bien. (Juste un problème de file-manager sur rutorrent)

Depuis hier, j'ai fait un test de mise à jour avec la commande qui convient et la, j'ai plusieurs soucis.

Le premier est sur rtorrent qui ne marche plus du tout. (ci -joint le code dans la c

[2015-02-23 14:52] toulousain79 commented on #6
Bonjour,
Actuellement vous disposez bien de la v2.0 et non de la dev ?
1/ Supprimez le fichier '/etc/MySB/web/rutorrent/share/users/USER/settings/autotools.dat'
2/ Exécuter la commande 'MySB_GitHubRepoUpdate'.
3/ Pour OpenVPN, je n'ai pas prévu le coup d'une installation du service pendant une mise à jour...
Il faut créer vos fichiers de configuration à l'aide de cette commande:

/bin/bash /etc/My

[2015-02-23 15:05] CaptainTib commented on #6
Je lance les manips dès maintenant.
Je vous transmet les logs par mail, vous me confirmez la réception? (ce sont les logs avant manipulation)

[2015-02-23 15:05] CaptainTib commented on #6
Voici les logs, je fais les manipulations dans la foulée.
﻿

Thibault MAURICE

Le 23 février 2015 à 15:53, toulousain79 <notifications@github.com> a écrit :

[2015-02-23 15:14] CaptainTib commented on #6
Je ne sais pas si le mail est ok pour vous, .
Une fois l'ensemble des manipulations effectué, je dois redémarrer la machine?

[2015-02-23 15:14] toulousain79 commented on #6
Mon mail pour les logs : toulousain79-at-gmail.com

De : CaptainTib [mailto:notifications@github.com]
Envoyé : lundi 23 février 2015 16:06
À : toulousain79/MySB
Cc : toulousain79
Objet : Re: [MySB] Problème mise à jour MySB (#6)

Voici les logs, je fais les manipulations dans la foulée.
﻿

Thibault MAURICE

Le 23 février 2015 à 15:53, toulousain79 <notifications@github.com> a écrit :

—
Reply to t

[2015-02-23 15:17] toulousain79 commented on #6
Normalement non, mais vous pouvez faire les manip suivantes en plus, c’est toujours mieux (ca prendra un peu de temps).

MySB_UpgradeSystem

MySB_RefreshMe all

MySB_SecurityRules create

De : CaptainTib [mailto:notifications@github.com]
Envoyé : lundi 23 février 2015 16:14
À : toulousain79/MySB
Cc : toulousain79
Objet : Re: [MySB] Problème mise à jour MySB (#6)

Je ne sais pas si le mail est ok p

[2015-02-23 15:47] CaptainTib commented on #6
Je refais l'installation au propre, la mise à jour n'a pas été faite correctement.

[2015-02-23 15:47] #6 closed

[2015-03-14 09:02] fravia1 opened #7 "Cannot add tarckers"
Hi,

I tried adding trackers , it keeps giving me a message cannot update database .

Also Is there a way I can remove trackerlist ? I want to allow all trackers.

[2015-03-14 13:27] toulousain79 commented on #7
Hi,

This function works well.
How much trackers did you add at same time ?
Did you have tried to add your tracker one to one and only with the domain ?
Can you send me your 'ApplyConfig.bsh.log' and 'GetTrackersCert.bsh.log' files ?

For now, there is no option to disable tracker restriction, but maybe I can add this feature in the next version.

[2015-03-14 13:55] fravia1 commented on #7
Hi,

I think there was some cron update setting that was wrong , now its working fine .

Is there a way I can edit some file and update the trackers ? right now manually putting all the trackers would be a very long process. I can pay you for such a feature.

[2015-03-14 13:58] fravia1 commented on #7
Also after a while in the rutorrent some error show up
14.03.2015 13:55:51] WebUI started.
[14.03.2015 13:55:53] FILE MANAGER ignited
[14.03.2015 13:57:13] Bad response from server: (0 [error,getchatlist])
[14.03.2015 13:57:13] Bad response from server: (0 [error,getchat])
[14.03.2015 14:10:52] Bad response from server: (0 [error,getratios])
[14.03.2015 14:57:26] Bad response from server: (0 [erro

[2015-03-16 08:19] fravia1 opened #8 "Set Up User quota"
Hi,

Thanks a lot for the script , Is there any way to set up quota space for the user. I tried webmin and so far it doesn't represent the actual disc usage of the user.

Or is there any other way to set it up.

Thanks a lot again

[2015-03-16 20:30] toulousain79 commented on #7
Hi,
I'm sorry but I do not have time for this project now, and I have not in the weeks to come. I can make some corrections only on the current version and use of MySB_GithubUpdate command. But not the time to do something for the next version.

If you find any bug, please tell me.
For new features, please tell me too.

Bye

[2015-03-16 20:31] toulousain79 commented on #7
What is the cron bug?

[2015-03-17 10:02] fravia1 opened #9 "Transdroid Crash"
Hi,

Thanks again for your great script

I was testing transdroid based on the settings on the manager or manually , once the setting is done and you click connect on transdroid , the transdroid application crashes immediately.

[2015-03-17 10:08] toulousain79 commented on #9
Yes I know, I must find the problem. I think is the new certificate in SHA256. And HTTP I'd not available.

[2015-03-17 10:23] fravia1 commented on #7
Well , all the trackers in the trackers list were disabled so , the cron job I guess constantly gave a error on rutorrent error : getlist , I enabled all the trackers so far its working fine

[2015-03-17 11:50] fravia1 opened #10 "Open VPN doesnt change the computer IP"
Hi,

Thanks for your script again .

I was testing the open VPN  settings TAP and TUN both but with the current settings its logs in well with openvpn but the ip of the computer doesn't change .

Regards

[2015-03-17 11:51] fravia1 commented on #8
Well , I digged in a bit more and enabled quota on webmin but it seems that each user mounts to its own file system on which disc quota cant be enabled.Any tips on that ?

[2015-03-18 11:15] fravia1 opened #11 "FTPS not working"
FTPS is not working , even though ssh is allowed on the user

[2015-03-18 12:17] toulousain79 commented on #11
Are you sure ? This service works perfectly. Do you have change something about quota?

[2015-03-18 19:18] fravia1 commented on #11
Well , I did try out few things but except root if any other users which tries to login through putty , putty crashes immediately.

Also the seedbox manager produces wrong configuration files for filezialla because the ftp address  has a : 8889(or some port address which is rutorrent port address hence you have to remove the port number and then use it on filezilla to make it work , an hence the c

[2015-03-18 19:21] fravia1 opened #12 "Cakebox not streaming"
Hi,
I have done mutiple installations so far in different servers , so far the cakebox dosen't seem to stream videos.

let me know if its is working on your end or there are any specific settings and I see plex already setup with your script , do we just need to tunnel it?

[2015-03-18 22:27] toulousain79 commented on #11
SSH connexions for users is not a service provide by MySB. MySB is a fork of Notos script. I have change the method and I have keep some old possibilities like change password by SSH for users. I have only keep this ideas for use by the portal. So the SSH over FTP or FTP over SSL work well but without the SeedboxManager configuration file, I know that. I think to remove it because the first servic

[2015-03-18 22:47] toulousain79 commented on #12
Yes I know, me too... MKV is a good example.

I like your feedback, it is a precious help.
I am really frustrated because I can not work in MySB for now... No time, no computer. The week I am far of my home and my weekends is for my wife. I will be in this situation during 3 months (minimum), so please be patient.
Please continue to create new tickets. And when the time will come, I will work hard

[2015-03-19 08:00] fravia1 commented on #12
Hey Sure  ,

No rush I am trying to see if I can fork-out and get some programmers on it.

Thanks for all your hard work to put this up .

Regards

[2015-03-22 11:47] #3 closed

[2015-03-22 12:00] toulousain79 commented on #7
The restriction of trackers is managed by BIND. Configuration files are '/etc/bind/named.conf.local' and '/etc/bind/MySB.zones.blakclists'.
The records in the file 'MySB.zones.blakclists' will be blocked and ruTorrent (and all requests output) necessarily generate an error.

[2015-03-22 12:00] #7 closed

[2015-03-22 19:29] toulousain79 commented on #10
Hi,
TAP "mode" is not finished. I want to use it for DLNA. With it you can not redirect your traffic.
TUN without gateway works fine.

For TUN with redirect traffic, I found the error.
Run these commands

--> MySB_GitHubRepoUpdate
AND
--> MySB_SecurityRules create

If you use a MS Windows machine, think to start the OpenVPN GUI with administrator privileges.

The next site allows you to check that

[2015-03-24 11:27] fravia1 opened #13 "Error on seedbox manager and MySB"
On seedbon manager this error gets generated , previously it was working fine.
Installation Guide

Starting the application
Indicate the correct owner of the files of the application, copy the command and run it ROOT (super user).

chown -R www-data: www-data / etc / MySB / web / seedbox-manager /
Run the install.sh script to compile the reboot program ROOT.

cd / etc / MySB / web / seedbox-manage

[2015-03-24 11:28] fravia1 commented on #13
I think you made some recent updates hope that is not the cause for this.

[2015-03-24 12:18] toulousain79 commented on #13
Please execute 'MySB_GitHubRepoUpdate'. This command will change owners et rights for some files and directories. Check the last line of prompt.

What manipulations or commands have you done for the rights of certain files disappear?

Tell if is OK.

[2015-03-24 12:20] toulousain79 commented on #13
Have you checked the issue 10?
https://github.com/toulousain79/MySB/issues/10

[2015-03-24 12:26] toulousain79 commented on #13
I did not change anything concerning rights of files. The only changes concern some templates (unused for now), and the file 'funcs_iptables'.
By running the command 'MySB_GithubUpdate' you will see the files.

[2015-03-24 13:10] fravia1 commented on #13
MySB_GithubUpdate command generates the following response -bash: MySB_GithubUpdate: command not found

[2015-03-24 13:12] toulousain79 commented on #13
Try the full command:
bash /etc/MySB/bin/MySB_GitHubRepoUpdate

[2015-03-24 13:14] fravia1 commented on #13
Saved working directory and index state WIP on v2.0: 5d11656 v2.1
HEAD is now at 5d11656 v2.1
error: Couldn't resolve host 'github.com' while accessing https://github.com/toulousain79/MySB.git/info/refs
fatal: HTTP request failed
[ ok ] Change owners and rights for files and directories:.

[2015-03-24 13:15] fravia1 commented on #13
The situation persists.

[2015-03-24 13:16] toulousain79 commented on #13
service bind9 restart
and
bash /etc/MySB/bin/MySB_SecurityRules create

[2015-03-24 13:17] fravia1 commented on #13
[FAIL] Starting domain name service...: bind9 failed!

[2015-03-24 13:25] toulousain79 commented on #13
Did you change something with bind (trackers) ?

Give me the last lines of this file:
tail -n 20 /var/log/bind/global.log

[2015-03-24 13:32] fravia1 commented on #13
Well It was completely untouched.

[2015-03-24 13:33] toulousain79 commented on #13
OK, please give me the result of:
tail -n 20 /var/log/bind/global.log

[2015-03-24 13:33] fravia1 commented on #13
I made 7 reinstalls on my server , so definitely not a change that i had made.

[2015-03-24 13:36] fravia1 commented on #13
I can uninstall bind and re install it , if that would work?

[2015-03-24 13:38] toulousain79 commented on #13
NO
Try this: bash /raid0/MySB/install/Bind

[2015-03-24 13:42] fravia1 commented on #13
bash: /raid0/MySB/install/Bind: No such file or directory

[2015-03-24 13:46] toulousain79 commented on #13
Sorry, '/raid0/MySB' is my configuration.

This one is the default directory:
bash /etc/MySB/install/Bind

[2015-03-24 13:51] fravia1 commented on #13
aptitude -q -y --assume-yes -o Acquire::Check-Valid-Until=false update
Err http://ftp.nerim.net wheezy Release.gpg
  Could not resolve 'ftp.nerim.net'
Err http://ftp.fr.debian.org wheezy Release.gpg
  Could not resolve 'ftp.fr.debian.org'
Err http://ftp.proxad.net wheezy Release.gpg
  Could not resolve 'ftp.proxad.net'
Err http://debian.mirrors.easynet.fr wheezy Release.gpg
  Could not resolve 'de

[2015-03-24 13:56] toulousain79 commented on #13
sed -i '/nameserver/d' /etc/resolv.conf
echo "nameserver 208.67.220.220" >> /etc/resolv.conf
echo "nameserver 8.8.8.8" >> /etc/resolv.conf
echo "nameserver 4.2.2.1" >> /etc/resolv.conf

bash /etc/MySB/install/Bind

bash /etc/MySB/bin/MySB_SecurityRules create

[2015-03-24 14:04] fravia1 commented on #13
[ ok ] Service already stopped: bind9.
include "/etc/bind/zones.rfc1918";
include "/etc/bind/rndc.key";
include "/etc/bind/bind.keys";
include "/etc/bind/log.conf";
include "/etc/bind/MySB.zones.blakclists";
removed `/etc/bind/log.conf'
logging {
        channel "requetes" {
                file "/var/log/bind/queries.log";
                print-time yes;
                print-category yes;

[2015-03-24 14:19] toulousain79 commented on #13
Please, give me result of
tail -n 20 /var/log/bind/global.log

[2015-03-24 14:47] fravia1 commented on #13
I gave up , went for a re install :(

[2015-03-24 14:56] fravia1 commented on #13
I will install the script on a new server and update you.

[2015-03-30 20:30] #5 closed

[2015-03-30 20:31] #10 closed

[2015-03-30 20:31] #11 closed

[2015-04-30 12:30] NouRs0n opened #14 "Error with LoadAVG"
Hi,
For start, sorry for my english (Toulousain inside) ^^

I take error when i would launch LoadAVG:
/loadavg/public/index.php
La page n'est pas redirigée correctement

If i change "public" by my user, don't work too...

And for finish very very thanks for this beautyful script (i Forked them for translate the home page in french, if you are ok with that)

[2015-04-30 14:45] toulousain79 commented on #14
Salut,

Je suis français ;-)

Je suis au courant pour le problème, je l'ai corrigé dans la v2.1 qui ne devrait plus tarder.
Je pense la valider sûrement ce weekend.

Pour la traduction, pourquoi pas. Cela fait parti de mon ToDo mais n'est pas une priorité.
Donc si vous avancez sur le sujet, je pourrais l'intégrer dans une future version.

bye

[2015-04-30 23:11] NouRs0n commented on #14
Génial, que ca soit par la resolution de ce bug ou votre accord afin de pouvoir le traduire. (de surcroit le fait que vous soyez Français, cela facilitera mes quelques interrogations.)
En tout cas, j'adore votre script qui me facilite la vie :-)

[2015-04-30 23:11] #14 closed

[2015-04-30 23:21] toulousain79 commented on #14
Merci.

J'ai intégré les corrections v2.1 de LoadAvg dans la v2.0.
Pour l'appliquer, faites ceci:
MySB_GitHubRepoUpdate
MySB_RefreshMe loadavg

[2015-04-30 23:23] toulousain79 commented on #14
Avant n'oubliez pas d'annuler les modifications que vous avez appliquées.

[2015-04-30 23:25] NouRs0n commented on #14
Marche parfaitement, j'ai pleinement acces à LoadAVG.

Grand merci :)

[2015-05-01 00:44] NouRs0n commented on #14
Je reste sur ce thread car je pense pas que cela soit une autre "issue". J'ai trouvé des fichiers de plus de 3Go dans le dossier /var/log  (en Mo)
2858    ./var/log/debug
2861    ./var/log/syslog
2864    ./var/log/kern.log
Est-ce normal qu'ils soient si gros? Peut on les vider?

[2015-05-01 09:26] toulousain79 commented on #14
Etes-vous certain que vos fichiers font 3 Go ? Un fichier de log de cette taille n'est pas spécialement gênant, cela dépend effectivement du fichier.
Mais cela me parait étrange pour un serveur que vous venez d'installer. Voici le listing de mon serveur tournant de puis quelques mois.

root@mysb:/var/log# ls -lah
total 210M
drwxr-xr-x 14 root        root     4,0K mai    1 06:35 .
drwxr-xr-x 12 roo

[2015-05-01 09:51] toulousain79 commented on #14
Quelle fournisseur avez-vous, quel serveur?
Et comment avez-vous partitionné votre disque?

[2015-05-01 12:29] NouRs0n commented on #14
Bonjour,
J'ai passé une partie de la nuit à faire dossier par dossier du serveur afin de trouver "les fichiers" qui surcharger le disque...
Dans la nuit je me suis retrouver avec a peine 40Mo de libre sur le HDD, puis j'ai fini par abandonner ne trouvant pas de raison valable... Je viens de me remettre à l'ordi, j'ouvre de suite MySB portal et là le disque est plein à 21% ce qui est bien plus adeq

[2015-05-01 17:25] toulousain79 commented on #13
Done in version 2.1

[2015-05-01 17:26] #13 closed

[2015-05-01 17:26] toulousain79 commented on #9
Done in version 2.1

[2015-05-01 17:26] #9 closed

[2015-05-01 17:27] toulousain79 commented on #12
To confirmed by more users with version 2.1

[2015-05-03 10:43] NouRs0n opened #15 "Erreur aprés Mise à jour"
Salut,
Alors, la mise à jour c'est tres bien passer. Il y a juste une erreur à la fin de la MaJ:
Updating MySB version...Done !
Upgrade script does not exist (/etc/MySB/upgrade/From_v2.0-to-v2.1.bsh), aborting...
-bash: /etc/MySB/bin/MySB_UpgradeMe: Permission non accordée

Je presume qu'il n'a pas du remettre les droits, car les scripts sont bien present.
/etc/MySB/bin# ls
MySB_ChangeUserPassword

[2015-05-03 11:01] toulousain79 commented on #15
Salut,

Merci pour votre retour.

Donc la MàJ ne sait pas bien passée pour vous.

Car si le script /etc/MySB/upgrade/From_v2.0-to-v2.1.bsh n’a pas été exécuté tous le processus de mise à jour ne sait pas fait …

Le message Updating MySB version...Done ! n’est que le début… (préparation)

Vous auriez-du avoir la même chose que la copie d’écran ci-dessous

Si ce script n’a pas été trouvé, c’est qu’i

[2015-05-03 11:32] NouRs0n commented on #15
Bonjour,

J'ai bien marquer 2.1 sur le portail de MySB, mais rutorrent en 3.6 (j'ai regardé le changelog histoire de voir si la MaJ c'etait bien faites, ou en partie)
Apres reboot, meme erreur pas possible de lancer le script de mise à jour.
Et je n'ai pas de log de MySB_UpgradeMe-log.html dans la section dédié à ça.
Quel droit dois-je accorder au script, je voudrai pas lui donner trop de droit qu

[2015-05-03 11:43] toulousain79 commented on #15
Exécutez les commandes suivantes les unes après les autres.
source /etc/MySB/inc/vars
source /etc/MySB/inc/funcs
source /etc/MySB/inc/funcs_tools
SwitchDNS "standard"
MySB_GitHubRepoUpdate
bash /etc/MySB/upgrade/From_v2.0-to-v2.1.bsh

[2015-05-03 11:49] NouRs0n commented on #15
à la commande: MySB_GitHubRepoUpdate
-bash: /etc/MySB/bin/MySB_GitHubRepoUpdate: Permission non accordée

[2015-05-03 11:52] toulousain79 commented on #15
Lancez une nouvelle instance avec Putty et essayez à nouveau avec une commande supplémentaire
source /etc/MySB/inc/vars
source /etc/MySB/inc/funcs
source /etc/MySB/inc/funcs_tools
ManageDirectoriesAndFiles
SwitchDNS "standard"
MySB_GitHubRepoUpdate
bash /etc/MySB/upgrade/From_v2.0-to-v2.1.bsh

[2015-05-03 11:58] NouRs0n commented on #15
Le GitHubRepoUpdate, c'est bien passé mais c'est au lancement du script.
bash /etc/MySB/upgrade/From_v2.0-to-v2.1.bsh
bash: /etc/MySB/upgrade/From_v2.0-to-v2.1.bsh: Aucun fichier ou dossier de ce type

dans le dossier upgrade il n'y a que celui pour passer de 1.1 en 2.0
/etc/MySB/upgrade# ls
backup  From_v1.1-to-v2.0.bsh

[2015-05-03 12:01] toulousain79 commented on #15
OK, on avance...
Que vous donne '/etc/MySB/version' ?
Si le résultat est 'v2.1' alors je pense que vous pouvez exécuter la commande 'MySB_UpgradeMe' directement.

[2015-05-03 12:05] NouRs0n commented on #15
/etc/MySB/version
/etc/MySB/version: ligne1: v2.0 : commande introuvable

[2015-05-03 12:06] toulousain79 commented on #15
Pardon c'est 'cat /etc/MySB/version'

[2015-05-03 12:07] NouRs0n commented on #15
v2.0 quand meme :)

[2015-05-03 12:08] toulousain79 commented on #15
Cool, relancez la commande 'MySB_UpgradeMe'

[2015-05-03 12:13] NouRs0n commented on #15
« /tmp/MySB_backup_20150503-140939 » -> « /etc/MySB/upgrade/backup »

Merge MySB to v2.0
Please wait  5 4 3 2 1 0
Fetching origin
error: Couldn't resolve host 'github.com' while accessing https://github.com/toulousain79/MySB.git/info/refs
fatal: HTTP request failed
error: Could not fetch origin
Saved working directory and index state WIP on v2.0: 3beaa49 v2.0
HEAD is now at 3beaa49 v2.0
fatal: A b

[2015-05-03 12:19] toulousain79 commented on #15
Avez-vous créée une nouvelle session SSH depuis l'exécution des commandes ?
source /etc/MySB/inc/vars
source /etc/MySB/inc/funcs
source /etc/MySB/inc/funcs_tools
...

Si vous faites un 'ping github.com' vous aurez une erreur j'imagine.
source /etc/MySB/inc/vars
source /etc/MySB/inc/funcs
source /etc/MySB/inc/funcs_tools
SwitchDNS "standard"

Puis un nouveau 'ping github.com', qu'avez-vous comme ré

[2015-05-03 12:22] NouRs0n commented on #15
Oui je suis bien sur une autre session SSH

Aprés la serie de commande, le ping repond:
64 bytes from github.com (192.30.252.130): icmp_req=1 ttl=55 time=106 ms

[2015-05-03 12:26] NouRs0n commented on #15
Une fois les commandes faite, je ne peux de nouveau plus lancer le MySB_UpgradeMe
De nouveau permission non accordée

[2015-05-03 12:28] toulousain79 commented on #15
J'ai modifié quelques lignes, essayez ceci
bash /etc/MySB/bin/MySB_GitHubRepoUpdate
PUIS
bash /etc/MySB/bin/MySB_UpgradeMe

[2015-05-03 12:36] toulousain79 commented on #15
Navré, j'ai fais une connerie (oubli), je ne pense pas que cela fonctionnera...
Seriez-vous OK pour me fournir un accès root à votre serveur pour que je puisse investiguer ?

[2015-05-03 12:42] NouRs0n commented on #15
Oui il y a bien une erreur.
Je n'ai aucun probleme avec cela, accorder moi deux seconde que je mette un mot de passe en consequence.

[2015-05-03 12:45] toulousain79 commented on #15
J'ai trouvé l'erreur !
Laissez-moi l'après-midi que je puisse résoudre le problème, je dois m'absenter et je m'en occupe dès mon retour.
Attendez avant de m'envoyer votre accès, je n'en aurais peut-être pas besoin. Et si c'st le cas, je vous donnerez mon adresse mail direct. Je vous tiens au courant rapidement.

[2015-05-03 12:46] NouRs0n commented on #15
D'accord, aucun probleme pour l'aprem, il n'y a aucune urgence je tenais à remonté ce petit probleme :)

Pas de soucis pour l'acces root, il s'agit d'un Dédié qui me sert à faire "mumuse".

Excellente fin de dimanche profiter bien de votre journée :)

[2015-05-03 15:11] toulousain79 commented on #15
Re,
Je pense que c'est bon.
Essayez ceci SVP:
source /etc/MySB/inc/vars
source /etc/MySB/inc/funcs
source /etc/MySB/inc/funcs_tools
SwitchDNS "standard"
bash /etc/MySB/bin/MySB_GitHubRepoUpdate
bash /etc/MySB/bin/MySB_UpgradeMe

[2015-05-03 20:48] NouRs0n commented on #15
Bonsoir, mes excuses je rentre à peine du taff.
à premiere vue, ca c'est bien passer:
Updating the clock...Done !
Updating actual GitHub repository........................................Done !
MySB is up to date !

[2015-05-03 21:11] toulousain79 commented on #15
Pas de soucis.
Il vous faut maintenant lancer manuellement le script d'upgrade.
bash /etc/MySB/upgrade/From_v2.0_to_v2.1.bsh

[2015-05-03 21:58] NouRs0n commented on #15
bash /etc/MySB/upgrade/From_v2.0_to_v2.1.bsh
bash: /etc/MySB/upgrade/From_v2.0_to_v2.1.bsh: Aucun fichier ou dossier de ce type
ls /etc/MySB/upgrade
backup  From_v1.1-to-v2.0.bsh

Désolé, soit c'est moi qui est fait une couffe soit ce sont les manips faite precedement (debut de journée) qui ont peut etre perturber le truc.

[2015-05-03 22:15] toulousain79 commented on #15
Si vous n'avez rien cours je vous conseille d'installer la v2.1 sur un serveur propre.
Sinon je sais comment procéder mais je pourrais vous aiguiller demain qu'en fin de journée. Je suis sur mon téléphone et taper les commandes avec est peu pratique.

[2015-05-03 22:17] NouRs0n commented on #15
aucun probleme, je pensais reprendre à zero toute facon. Comme je l'ai dit je fais mumuse :)

Bonne fin de nuit et merci pour le support ^^

[2015-05-04 10:27] NouRs0n commented on #15
Réinstallation au propre en cours, mais probleme lors de la configuration du SMTP/EMAIL

Do you want to use an external SMTP server ? (Good for safe sending emails.).
Choose between LOCAL or listed providers FREE|OVH|GMAIL|YAHOO. Only SSL transactions will be used (SSL/465).
I recommend you to use a provider. This reduces the risk that the mails sent by the server is considered like spam.
You can

[2015-05-04 10:32] toulousain79 commented on #15
Bonjour,
Ah, c'est un nouveau problème que je n'ai jamais rencontré. Je regarderai ma fonction.
Merci (navré que cette expérience MySB soit si compliquée, moi qui souhaite faire quelque chose de simple ET fonctionnel...)

[2015-05-04 10:37] NouRs0n commented on #15
Don't worry :) faut bien paufiner les choses pour que cela soit, justement simple :)
Et puis l'avantage c'est que cela fait avancer les choses :D

(et Bonjour pardon, j'en oublie mes bonne manieres)

[2015-05-04 10:46] NouRs0n commented on #15
Bon alors, j'ai refait a nouveau cela vient bien de la premiere adresse entrée (la GRRLZ) car la j'ai commencé direct par la GMAIL et c'est passé.

[2015-05-04 11:35] toulousain79 opened #16 "Questions / Mail address confirmation"
Some mail addresses may not work, maybe due to the 'dig' check. (only for specific mail domain)

[2015-05-04 11:59] toulousain79 commented on #15
J'ai vérifié vite fait, la fonction de vérification des adresses mail utilise la commande DIG pour vérifier la validité du domaine, et vérifie l'argument 'ANSWER'.
La commande 'dig votre_domaine.net' renvoie 'ANSWER: 0' et pour gmail.com on obtient 'ANSWER: 1'.
La fonction valide le mail seulement si ANSWER = 1. Un enregistrement A doit être présent pour le domaine pour considérer la validité d'un

[2015-05-04 12:32] NouRs0n commented on #15
Je comprend, Pour info, la boite mail que j'ai voulu utiliser pour le coup est heberger chez eux:
https://www.autistici.org/fr/index.html

[2015-05-04 13:21] NouRs0n commented on #15
La 2.1 marche impecable sur une install fraiche :)

[2015-05-04 13:22] #15 closed

[2015-05-04 13:23] toulousain79 commented on #15
Tant mieux, c'est le but.
Il me reste donc à améliorer le script d'upgrade.

[2015-05-09 19:38] NouRs0n commented on #15
Salut,
Je me permets de te relancer ici, car cela n'a rien à voir avec un problème.
Je voudrais avoir ton accord afin de présenter ton script, sur un petit forum sans prétention.
Si tu le permets je préparerai un "post" que tu pourras lire en amont si tu le désires bien entendu.

Merci d'avance pour ta réponse.

[2015-05-09 19:45] toulousain79 commented on #15
Salut,
Oui, pourquoi pas. C'est une bonne idée.

[2015-05-09 19:46] NouRs0n commented on #15
Ok, je prepare le post, je t'en ferai part avant de le poster :)

[2015-05-09 19:47] toulousain79 commented on #15
Ça marche

[2015-05-09 21:32] NouRs0n commented on #15
Je le poste là , il y a encore probablement des fautes, il y a probablement deux trois truc que je corrigerai, mais sur le principe il sera de cet ordre... (pour info il y a aussi des images, afin d’agrémenter mon post) j'ai directement mis en français simplement certaine partie du wiki, mais faut dire que c'est suffisamment clair pour ne pas avoir a être "ré-écrit"

Bonjour,

Je viens vous présen

[2015-05-09 21:39] toulousain79 commented on #15
Ok, quel est le forum?

[2015-05-09 21:45] NouRs0n commented on #15
PassKey.fr on parle d'actu ciné musique il y a des tuto d'un peu de tout.

[2015-05-16 14:22] NouRs0n opened #17 "Bug trouvé à l'utilisation"
Bug rencontré
-lien vers cakebox page UserInfo.
-Accès page de log et d'autres URL depuis la page UserInfo (Partie MainUser) oblige de retaper le password.
-Seedbox Manager ne conserve aucun réglage (Choix du thème/ajout de raccourci dans la barre du haut/ choix de la partition à surveiller)

Suggestion
IRSSI ou ZNC (bouncer IRC)
[YoutubeDL] (https://github.com/rg3/youtube-dl) (avec [webUI] (https

[2015-05-16 15:21] toulousain79 commented on #17
-lien vers cakebox page UserInfo
--> Corrigé

-Accès page de log et d'autres URL depuis la page UserInfo (Partie MainUser) oblige de retaper le password.
--> Il s'agit de l'authentification gérée par WolfCMS. Si je la désactive, tous les users connaissant l'URL pourront accéder à toutes les pages dédiées à l'utilisateur principal.

-Seedbox Manager ne conserve aucun réglage (Choix du thème/ajout d

[2015-05-16 18:52] NouRs0n commented on #17
Génial, merci de ta réactivité ! je suis ravis que les suggestions t'apportent des idées :)

Je comprend pour l'idée de retaper le mots de passe, mais on en a pas besoin quand on passe par le menu du haut pour accéder aux log, ça devrait le demander partout, du coups, non?

Avec plaisir pour le retour je pense que c'est l'essentiel pour qu'un projet avance.

[2015-05-16 19:08] toulousain79 commented on #17
Tu as donc un comportement du portail que je ne connais pas. Normalement, que tu cliques sur un des liens (main user) dans la page User Infos, ou ceux présent dans le menu principal, c'est la même chose.
Quelle est la méthode d'authentification que tu as? Popup géré par le navigateur, ou une page avec une option "Remember me for 30 minutes" ?

[2015-05-16 19:10] NouRs0n commented on #17
Autant pour moi, c'est moi qui avait mal calculer. Je viens de refaire l'essaie avec mes 2~3 ordis, c’était surement parce que je m’était identifier plus tôt que c'était passer direct, car là il me demande bien le mot de passe depuis un autre ordi.

Donc autant pour moi, c'est ma faute

[2015-05-16 19:20] toulousain79 commented on #17
Pas de soucis

[2015-05-16 19:20] #17 closed

[2015-05-16 21:04] NouRs0n commented on #17
J'y repense maintenant, non pas un bug... enfin je pense pas. Mais en voulant modifier (en SSH) la page d'index de MySB je me suis rendu compte que les accents mettaient le bronx, je ne sais pas si c'est qu'une question de codage, mais voila c'est dit :)

[2015-05-16 22:38] toulousain79 commented on #17
Que veux-tu dire par 'mettaient le bronx' ?
Si tu utilises SSH, pense à changer le 'character set' de Putty (ou autre) en utilisant UTF-8.
Aussi, penses-tu à remplacer les caractères spéciaux dans la page HTML (http://www.frinux.fr/projects/js_converthtml/) ?

Mais attention, le script 'MySB_GitHubRepoUpdate' est exécuté tous les 2 jours. Cela signifie que toutes modifications effectuées sur les f

[2015-05-18 10:08] NouRs0n commented on #17
Bonjour et désolé je n'avais pas vu votre/ta réponse.
Pour Putty les accents sont bien gérer, c'est une fois le *.php modifier et nginx recharger que la page *.php (en ligne) reste blanche il n'y a plus de texte, uniquement le CMS (fond, en tête, bas de page)

Alors non, je ne savais pas qu'on devait remplacer les caractères spéciaux dans la page HTML je vais m'en servir de référence, je t'en reme

[2015-05-18 19:26] toulousain79 commented on #17
La page blanche peut provenir soit d'une erreur de syntaxe dans la page soit de droits du fichier PHP. Ça arrive en éditant en root.
Sinon je travail sur la gestion du français anglais dans la v2.2. Il sera possible de choisir la langue dans les options.

[2015-05-22 21:08] NouRs0n commented on #17
Hello et pardon j'ai eut une semaine assez délicate.
Bref, en fait j'ai voulu commencer à éditer/modifier en essayant de le faire sur GitHub, mais ne comprenant pas grand chose je mettais dis que via le SSH sa serai "une bonne idée".... pour au final me rendre compte que le plus simple serai de DL le dépôt en ZIP et de modifier les .php avec notepad++ ^^

Désolé de ces dérangements, je vais finir

[2015-05-23 05:50] toulousain79 commented on #17
Salut, pour éditer via GutHub et en utilisant ton compte, il suffit d'installer le client Windows. A partir de là tu peux éditer les fichiers en local sur ton ordi. Ensuite tu pourras mettre à jour ton dépôt.

[2015-07-10 04:45] betaboy44 opened #18 "No Support For Magnet Links"
Adding torrents by magnet links is not supported ?

[2015-07-10 23:44] toulousain79 commented on #18
Hi,
No, magnet links is not supported.
If I'm not mistaken, magnetic links use the DHT. And by default the DHT is not enabled in the configuration file rTorrent. It seems to me that the DHT does not help to remain anonymous, it is not in the logic of MySB.
Feel free to correct me if I'm wrong.

[2015-07-11 07:21] betaboy44 commented on #18
Ok nice i understood,..one thing more when ever server gets restarted in which seedbox is installed then after that if we login to rutorrent then it says rutorrent can't be connected :\
After restarting server do we have to enable something again ?

[2015-07-11 11:10] toulousain79 commented on #18
No, when installation is completely done, the server reboot and you receive a mail. After that, your box is ready. There is no more action to do. You can have a little error when you connect for the first time to ruTorrent, but after a refresh of the page, all is done.
Leave me some minutes to install the v2.1 and check if i get the same problem like you.

[2015-07-11 12:08] toulousain79 commented on #18
I did a fresh install with all options enabled, and I have no problem with ruTorrent connection problem.
Try restarting your session rTorrent (via Seedbox MySB gold-Manager Portal).

[2015-07-31 00:08] rolltidehero opened #19 "Feature requests (autodl-irssi, zoho email, instant setup)"
Thanks so much for the script! I know this isn't an issue but I didn't know where else to ask. Will you be adding autodl-irssi support for this or providing a guide on how to set it up for multi-users? Also, how do I change the name on the email that is sent when users are created from MySB to my actual name?

I think some great additions would be (ordered by importance):
1. autodl-irssi support w

[2015-08-01 18:17] #18 closed

[2015-08-01 18:17] #16 closed

[2015-08-01 18:31] toulousain79 commented on #19
Hi,

Thank you for your comments.
I take into consideration your proposals. I'll see to integrate them in a future release.

1 / AutoDL-irssi will be part of a future release
2 / With the portal, you can create a user in one step. Can you explain in more detail what you want exactly ?
3 / For Zoho Mail, I will seek the technical details to imagine integration (SMTP server, port, SSL or TLS, ...).

[2015-08-02 06:50] rolltidehero commented on #19
1. AutoDL-irssi is most important but..

2. The way I had my previous setup was when a user made a purchase on my WHMCS web server, it would remote into the seedbox server and run a SSH command. This automatically created the users account when payment was received.

3. Outgoing Server Name: smtp.zoho.com
Port: 465
Security Type: SSL
Require Authentication: Yes.

[2015-08-04 04:38] rolltidehero opened #20 "chown issue when creating from SSH"
When I create users from SSH, it shows that the owner of the /home/user33/rutorrent/torrents folder is root, so all disk quota is assigned to root instead of the user. This was fixed by changing ownership of the torrents folder.

Note: It works correctly when adding users from the GUI. This only happens when adding users via SSH using MySB_CreateUser

[2015-08-04 11:56] toulousain79 commented on #20
Hi, thanks for your feedback.

The GUI use exactly the same command than SSH. It is the script Apply con fig.big that is executed. I will check when I will have the time.

Regards

[2015-08-08 08:57] #20 closed

[2015-08-11 04:35] betaboy44 commented on #18
why there is no speed in torrents ?
there is no upload or download speed :\
And installation is very complex and hard.

[2015-08-12 10:08] toulousain79 commented on #18
OK, if you want more speed, you must change your blocklist accordingly to your trackers ... Lot of seeders are present in some blocklist, depend trackers you used.
The speed rate work perfectly in ruTorrent. Give me some screenshot and log file if you want help. Otherwise the free criticism serve me for nothing.
Why installation is very complex and hard? You have only one command line to use and s

[2015-09-02 02:58] RXWatcher1 opened #21 "Thank You and a Feature Request"
First Off..Thank You! I've been looking through the code and its obvious you spent a lot of time on it. Esp how the firewall rules work.

This brings me to my post. I've been struggling with how to keep firewall rules. They seem to get wiped out all the time. I've added some services to my server (Syncthing is the main one) and wish to open ports for it's web GUI.  My request is that you add a fil

[2015-09-05 06:39] toulousain79 commented on #21
Thank you very much ;-)
Yes, I spent a lot of time.
Currently, port services are found in the database. For the next version, I want to migrate SQLite to MySQL. So if you're patient, I may consider adding a page on the portal for the primary user. This page could afford to add ports to open for IPtables and PeerGuardian. It is a good idea.
For now I finish the integration of ownCloud.

Regards

[2015-11-28 18:15] ItsAdventureTime opened #22 "Yo, what's up?"
Hey,

I was checking your awesome script, honestly I totally forgot about it because the only thing that comes into my mind was the "Kerwood Seedbox Script". Good thing that I saw your script again! It has everything that I need. My main concern is the "Seedbox Manager". What does it usually do? I can help you out so that it will have an "English" version.

I am not using OVH anymore. I have a new

[2015-11-28 18:42] ItsAdventureTime opened #23 "The use of domain name, is it possible?"
Hello,

I was thinking of using a domain name is better than memorizing the IP address of my seedbox which in my opinion, is safer.

For example, the seedbox is https://x.x.x.x/rutorrent or http://x.x.x.x/rutorrent right?

Can I use seedbox.com and not seedbox.com/rutorrent ? or even seedbox.domain.com and not seedbox.domain.com/rutorrent ?

I think this has something to do with .htaccess but the

[2016-02-07 14:42] toulousain79 commented on #22
Hello,

Sorry for being slow to respond, much work ...

"Seedbox Manager" is developed by "[Magicalex](https://github.com/Magicalex/seedbox-manager)". If you want support for English, I think it is to him that you should ask.
The features are:
- Links to ruTorrent and Cakebox in the navbar, this feature is also present in the portal MySB (menu Services)
- Reminder of the FTP and SFTP ids of the us

[2016-02-07 14:42] #22 closed

[2016-02-07 14:52] toulousain79 commented on #23
You can choose a custom domain name. It's already managed during installation. By default, the actual name of your server will be detected (eg ovhXXXX.ovh.com). But you can enter a different question when you will be asked.

The services will be accessible via the following addresses:
- https://myserver.mydomain.com:8889/ _for MySB portal_
- https://myserver.mydomain.com:8889/ru _for ruTorrent_
-

[2016-02-07 14:52] #23 closed

[2016-02-09 09:22] cognotte opened #24 "Debian 8"
Bonjour,

sur un serveur tout propre j'essaye d'installer MySB mais visiblement ça ne passe pas.
le script est il utilisable sur une debian 8  ?

je tourne sous :

`#1 SMP Debian 3.16.7-ckt20-1+deb8u3 (2016-01-17)`

en effet à l'install j'ai ce message d'erreur

`Internet	: OK
Distributor ID	: Debian
Release		: 8
Architecture	: 64
PVE kernel	: No
Ubuntu kernel	: No
OVH kernel	: No

MySB est conçu

[2016-02-25 14:30] geroboame66 opened #25 "file permission"
hello;

I have moved file on rtorrent/completed to folder on owncloud , but nothing apear on owncloud ....
How to set the permission for files/folder on owncloud ?

[2016-02-25 14:37] geroboame66 commented on #12
same probleme, i have vlc plugin and divx pro , but not work.
the only one good method is : copy link for file on cakebox and paste on vlc (open network file) ...
is it a probleme with version of vlc and/or divx ?
i use:
- vlc 2.2.2 x64 and  same version plugin for firefox.
- divx 10.2.0

[2016-02-25 22:24] toulousain79 commented on #12
Yes I know, but I did not look at what the problem was. I hope I can handle it for version 3.3.
I do not know if the problem is the client (VLC, DivX or HTML5) or something else.
If you have ideas made me follow..

[2016-03-12 10:31] toulousain79 commented on #25
Hi,
With v3.3, scan will be perform after a download. ownCloud refresh files with client or with web interface. If you add a files by command line or by FTP, ownCloud will not see the new files.
By command line, you can perform a uniq scan like that (v3.3):

bash /opt/MySB/scripts/ownCloud.bsh scan username

OR

If you have v3.2 you can do this:

source /optMySB/inc/vars
su -s /bin/sh www-data -c

[2016-03-12 10:31] #25 closed

[2016-03-12 10:37] toulousain79 commented on #24
Bonjour,

MySB est pour l'instant exploitable uniquement sous Debian 7 Wheezy.
Tu peux vérifier sur la page principal https://github.com/toulousain79/MySB dans la section "All prerequisites listed below are MANDATORY!".

Le message affiché (MySB est conçu uniquement pour Debian Wheezy 7 ou supérieure (32 ou 64bits).) par le script est une erreur, je la corrige tout de suite.

J'étudierai les moyen

[2016-03-12 10:37] #24 closed

[2016-03-22 04:37] fiosaddict commented on #19
I 2nd the AutoDL-irssi community edition as well. Thank you SO much for writing this script. If you are willing to work on this and polish it, include Deluged and deluge-console and have the user running the script choose the username and password for the Deluge Thin-client. Flexget installation would be helpful for Deluge for those nice trackers that only allows RSS notification feeds. Lastly, ho

[2016-08-21 00:33] toulousain79 commented on #19
Wow, I just read your message, I had not seen ...
I am attentive to all that can asked myself. All ideas and proposals are interesting and relevant, but if I integrate all these functions, MySB could become much more complex and less easy to use.
MySB became an important project that requires more and more time, I have not.
Each version takes me several weeks to several months by working nights an

[2016-08-27 20:14] #12 closed

[2016-09-09 06:12] toulousain79 commented on #8
Hi, quotas are now included in v3.4. Management remains minimal. The calculation is: (free space - 2GB of security space) / (number of users).

[2016-09-09 06:12] #8 closed

[2016-10-05 08:53] betaboy44 opened #26 "MySB Main Admin Portal Links Issue"
Hello,

In MySB main admin portal the links are faulty, all links are opening as "https://localhost:1234", but they should open as "https://11.11.11.11:1234", but inspite of server ip, links are opening as name localhost so every link is opening as dead, i have to replace each opening link localhost word by ip in address bar.

Regards

[2016-10-05 09:08] betaboy44 commented on #26
Moreover kindly tell me how to remove IP restriction feature from this great seedbox ?
I have dynamic ip and i do not want to use services such as Dyndns or no-ip,..i simply want to open my seedbox from any ip i want.

Regards

[2016-12-15 04:52] toulousain79 commented on #26
Hi,
I have the impression that you started the installation of MySB via a direct console and not remotely by SSH.
When installing MySB, it is required to confirm the IP address of the server. You must confirm the public IP address of the server.

The IP restriction has nothing to do with the address of the links. All links are generated on the fly according to the public IP address of the server s

[2017-03-24 20:46] #26 closed

[2017-09-22 00:52] Kongledyret opened #27 "Error on install:"
Hi!
Thanks for the script!

I've experiencing issues on install. Setup is going good until:

"12/38     - Generating the NginX Certificate with Let's Encrypt.........................................................................................."

On this is just freezes and ssh gets unresponsive.

Any idea?

[2017-09-25 12:41] toulousain79 commented on #27
Hi,
Which version did you install ?
Did you install MySB on a virtual server?

You can connect to your server by SSH with the new port.
You have started to install MySB with the port 22, but during installation, the port change to 8192 (if you did'nt change it during questions).
You can get logs installation available in /opt/MySB/logs/LetsEncrypt.log.
Can you give me this content ?

[2017-10-01 00:31] Kongledyret commented on #27
Fixed it. Domain was not properly forwarded to server IP.

[2017-10-01 00:31] #27 closed

[2018-01-29 16:58] Setsuneh opened #29 "Redirections"
Hi,

Thanks for this script. However is it normal to have this type of url for exemple to Management, or LoadAVG etc ...?

"https://seedbox:8189/?/repVYhmFbf0F1Nsnci7B_d70gU6vhGM9/login/login" and there is no redirection with the real IP..

[2018-03-23 04:13] #21 closed

[2018-04-05 22:13] mrlongshen opened #30 "Cannot access server"
Hi. After install it, and reboot I cannot access my server. :cry:
I try to ping my server and no response. Im have force reboot on panel but nothing happen.
Im using online dedicated server. I want to  play around but cannot.
I want to give you the log but I cant access my server anymore. Please advice. :+1:

[2018-04-05 22:22] mrlongshen commented on #30
I try to reinstall back. Will update.

[2018-04-07 15:01] mrlongshen commented on #30
Hi
I have reinstall and it works.
I have to disable the security.
I think it lock my ip.

[2018-04-07 15:01] #30 closed, assigned to nobody

[2018-04-11 17:51] toulousain79 commented on #29
Hi,

It seems that you are installed MySB on a server with a local IP address and not on a dedicated server with a public IP address.

You need to use a service like No-IP or DynDNS to create a FQDN name (eg seedbox.dyndns.org) and fill in your public IP address which will be linked to seedbox.dyndns.org.
Then, if your router allows it, you have to add your non FQDN (ex: seedbox.dyndns.org) and fo

[2018-06-18 09:40] Matthi3u opened #32 "Update rtorrent and libtorrent"
Salut je ne sais pas si tu es au courant mais rtorrent et libtorrent sont passé en version 0.9.7 et 0.13.7.

[2018-06-28 23:27] dmckminard opened #33 "Problème avec adresse mail et samba"
Bonjour !

J'espère que ça ne te déranges pas que j'écrive ceci en français, sinon je peux traduire sans soucis.
J'ai un soucis concernant l'adresse mail : en effet, à la création du serveur et à la création d'un nouvel utilisateur, je ne reçois pas de mail (même dans les spams). J'ai essayé plusieurs fois avec gmail et yahoo.

De plus, je ne comprends pas bien la commande pour monter le partage d

[2018-06-30 08:27] dmckminard commented on #33
Petit up, désolé je suis débutant en la matière...
La seedbox est installé sur mon serveur debian, et je suis sur mac. Je souhaiterais pouvoir bénéficier des sauvegardes Time Machine sur mon mac, en passant par Samba (donc par la seedbox).
J'avais rentré la commande indiquée plus haut sur mon serveur, et non dans le terminal de mon mac (ça commence bien)
Mais je ne comprends pas bien cette command

[2018-07-04 06:30] toulousain79 commented on #32
Salut,
Non, je ne savais pas...
Je les intègre dans la prochaine version ;-)
Merci

[2018-07-04 06:30] #32 closed, assigned to toulousain79

[2018-07-04 06:44] toulousain79 commented on #33
Salut,

Le français me va bien ;-)

Si tu es d'accord, nous prendrons un peu de temps pour regarder cela ensemble dans la semaine ou ce weekend.
Je te contacte rapidement.

Merci ;-)

[2018-07-04 11:44] dmckminard commented on #33
Salut !

D’accord, c’est super, merci beaucoup de pouvoir m’accorder ce temps !
À très bientôt,
David

[2018-07-04 19:31] toulousain79 commented on #33
Salut

Envoie un mail à toulousain79-chez-gmail.com
Cela permettra de discuter un peu librement.

Peux-tu déjà me donner des infos sur ton serveur ? Quel est ton hébergeur par exemple ?

[2018-07-12 12:20] ghost opened #34 "Configurer Plex"
Bonjour merci pour ce magnifique script

Fraichement installé sur un serveur dédié tout marche correctement avec tout les options, je voudrais utilisé plex maintenant comment faire ?

[2018-07-14 07:39] toulousain79 commented on #34
Bonjour

Merci ;-)

Ouvre ton navigateur et assures-toi d'être déconnecté de ton compte Plex.
Ouvre le portail MySB, et rends toi sur "Services > Plex Media Server".

Comme je l'ai fait pour certaines personnes, je peux te le configurer si tu le souhaites par TeamViewer.

Tiens moi au jus ;-)

[2018-07-14 07:40] #33 closed, assigned to toulousain79

[2018-07-14 17:43] ghost commented on #34
Bonjour

cela ne marche pas je me suis deconecté via plex.tv et mon liens et me reconnecté et toujours "Aucun serveur trouvé. Installez Plex Media Server et celui-ci apparaîtra ici."

[2018-07-14 17:44] toulousain79 commented on #34
toulousain79 at gmail

Le sam. 14 juil. 2018 à 19:43, Darkspace <notifications@github.com> a
écrit :

[2018-07-14 19:29] #34 closed, assigned to toulousain79

[2018-09-05 21:08] s-kocher opened #35 "suivi du projet impossible"
Bonjour, ce n'est pas vraiment une feature request mais plus une question indiscrète ;)

Pourquoi seuls les derniers commits sont-ils conservés et qu'on ne peut donc pas suivre toutes les modifications apportées au projet ?
- 9 commits sur la branche 5.2 avec en grande majorité des commentaires génériques "5.2"
- 8 commits sur la v99.99 remontant à il y a 2 heures  maximum avec des commentaires gé

[2018-09-05 22:15] toulousain79 commented on #35
Bonjour,

J'avoue que je suis surpris de cette remarque...
J'ai gardé une veille habitude que de purger tout l'historique des commits où je pouvais trouver parfois des données sensibles par oubli dans le code...

Aussi, les modifications importantes sont ajoutées dans le Changelog.
En 4 ans, tu es le premier à me faire la remarque.
Je tâcherai de laisser l'historique pour les prochaines versions,

[2018-09-05 22:15] #35 closed, assigned to nobody

[2018-09-05 22:22] s-kocher commented on #35
ok merci pour les explications :)

En cas de bourde avec données sensibles commitées par erreur, il y a a toujours la possibilité de faire un git filter-branch ou d'utiliser le très efficace git bfg juste pour retirer de l'historique des commits le contenu sensible, de la à tout supprimer au cas où, il y a un monde ;)
C'est, il me semble pas trop dans la philosophie d'un outil de gestion de versio

[2018-12-07 17:39] toulousain79 opened #36 "Documentation FR"
- [x]  Usage avancé: Comment ajouter un site perso
- [x]  Usage avancé: Récupérer les 5% de blocs réservés d'une partition
- [x]  Support / Discord
- [x]  Support / FAQ

[2018-12-07 18:18] #29 closed, assigned to toulousain79

[2018-12-07 18:19] #19 closed

[2018-12-07 18:37] toulousain79 opened #37 "Ajout d'un script de pré-chargement d'un torrent"
- [x] Gestion d'un script de pré-chargement d'un torrent dans .rtorrent.rc comme pour le post traitement
  - Post traitement:
 `system.method.set_key = event.download.finished,move_complete,"execute=~/.rTorrent.bsh,$d.get_base_path=,$d.get_directory=,$d.get_custom1=,$d.get_name=,$d.get_loaded_file="`
  - Pre traitement:
 `system.method.set_key = event.download.inserted_new,move_tor,"execute=mv,$d.

[2018-12-07 18:53] toulousain79 opened #38 "Bouton envoie mail de rappel par utilisateur"
Ajouter un bouton dans le portail admin pour permettre l'envoie d'un mail de rappel pour un utilisateur

[2018-12-07 18:54] toulousain79 opened #39 "Pouvoir suspendre un utilisateur"

[2018-12-07 18:56] toulousain79 opened #40 "Script de migration"

[2018-12-07 18:57] toulousain79 opened #41 "Pouvoir modifier les ports réseaux lors d'un upgrade"
- [x] Automatiquement via un upgrade de MySB (question)
  - [x] port HTTPs
  - [x] port SSH
  - [x] port FTPs
  - [x] port OpenVPN TUN0
  - [x] port OpenVPN TUN1
  - [x] port OpenVPN TAP0

[2018-12-07 18:58] toulousain79 opened #42 "Pouvoir modifier le FQDN du serveur"
Cas:
- [x] Manuellement via ligne de commande: `gfnChangeFQDN`
- [x] Automatiquement via un upgrade de MySB (question)

A traiter:
- [x] màj du FQDN en base de données
- [x] modification /etc/hostname
- [x] régénération clés SSH (tous les users)
- [x] install/Certificates
- [x] install/LetsEncrypt
- [x] install/NginX
- [x] install/VSFTPd
- [x] install/SeedboxManager
- [x] install/CakeboxLight
- [x

[2018-12-07 18:59] toulousain79 opened #43 "Gestion de ports réseaux additionnels"
- [ ] Page des gestion dans le portail
- [ ] Intégration PeerGuardian
- [ ] Intégration Fail2Ban

[2018-12-07 20:01] toulousain79 opened #44 "Pouvoir héberger un site perso"
- [x] configuration NginX en HTTP et HTTPs
- [x] demande d'un certificat supplémentaire avec Let's Encrypt
- [x] renouvellement du certificat supplémentaire
- [x] NginX, adaptation pour gérer plusieurs certificats via des snippets
- [x] Documentation FR #36

[2018-12-31 15:33] toulousain79 opened #45 "Postfix sécu"
- [x] Mettre à jour la documentation conernant Gmail et 2FA
- [x] Modifier install/Postfix pour Gmail 2FA
- [x] Corriger bug page SMTP, le pass devrait être supprimer une fois les modifications appliquées
- [x] Suppression du fichier /etc/postfix/sasl/sasl_passwd

[2018-12-31 18:23] toulousain79 opened #46 "Orientation vers SystemD"
- [x] Syncho NTP _(ex: [systemd-timesyncd](https://wiki.archlinux.org/index.php/systemd-timesyncd))_
- [x] Démarrage de certains services au boot
  - [x] MySB_SecurityRules_Init
  - [x] netfilter-persistent

_NB: BUGs/Screenshots_

[2019-01-04 12:06] masterbalby opened #47 "Faire passer rtorrent au travers un VPN"
Bonjour,
je dispose d'un abonnement auprès de NordVPN et je souhaiterai faire transiter tous le flux de rtorrent au travers ce VPN (donc utiliser openvpn client pour me connecter à NordVPN).
est-ce possible en utilisant se ce script ? (c'est le seul point qui ne ma pas poussé à migrer vers MySB).
Merci

[2019-01-04 20:46] toulousain79 opened #48 "Passage à DNScrypt-proxy v2"

[2019-01-06 22:55] toulousain79 commented on #47
Bonjour,
J'ai pensé au sujet et j'ai même travaillé là-dessus il y a presque 1 an.
Je souhaitais mettre à disposition une version "passerelle" de MySB installable par exemple sur un VPS (OpenVPN, tunnel SSH, ...), ou même utiliser un fournisseur de VPN comme NordVPN.
L'idée de la passerelle avec un VPS, pouvait permettre de changer de VPS régulièrement pour changer d'IP.

C'est un sujet délicat et

[2019-01-06 23:37] toulousain79 commented on #45
- [Pré-requis](https://mysb.gitbook.io/doc/v/v5.3_fr/installation/pre-requis#gmail)
- [L'envoie de mails](https://mysb.gitbook.io/doc/v/v5.3_fr/installation/lenvoie-de-mails#utilisation-de-la-configuration-gmail-yahoo)

[2019-01-06 23:37] #45 closed, assigned to toulousain79

[2019-01-10 18:36] toulousain79 opened #49 "Plex support multi utilisateurs"
- [ ] via Docker ?
- [ ] via systemd par utilisateurs ?

[2019-01-13 12:33] toulousain79 opened #50 "Ajout Pi-Hole"
- [ ] OpenVPN
- [ ] DNScrypt
- [ ] Serveur DNS

[2019-01-15 15:36] Matthi3u opened #51 "Installation bloquée étape 14"
Bonjour, merci pour script mais mon installation de celui-ci est bloqué depuis plus de 5h sur l'étape 14 création des certificats let's Encrypt, je ne sais plus exactement le titre parce qu'il y a tellement eu de pointillé.

Mon serveur ne respect pas les recommandation, c'est un KS-3 de Kimsufi, mais je n'ai pas coché l'option Plex, je n'ai mis que le nécessaire je veut l'utiliser juste en seedbo

[2019-01-15 15:41] Matthi3u commented on #51
Au cas où mes logs
[logs.zip](https://github.com/toulousain79/MySB/files/2760310/logs.zip)

[2019-01-15 15:55] Matthi3u commented on #51
voici le log de l'installation de Let's Encrypt
[LetsEncrypt.log](https://github.com/toulousain79/MySB/files/2760359/LetsEncrypt.log)

[2019-01-15 20:33] Matthi3u commented on #51
J'ai réussi à me débrouiller, ça à bloqué à l'installation des packages suivants :
python3-pkg-resources python3-virtualenv virtualenv
J'ai lancé à la main et c'est bon après un MySBClean

Peut-être vérifier le script à ce moment.

Bonne soirée.

[2019-01-17 15:14] g0tama commented on #51
Même chose pour moi, bloqué sur l'étape d'installation Let's Encrypt.
J'ai essayé l'installation de python mais impossible de reprendre l'installation en cours ou de faire un MySBClean (la commande n'est pas disponible).
Je restaure et j'essaye sur Debian 8.4 pour voir...

[2019-01-17 15:23] Matthi3u commented on #51
c'est ce script :
/opt/MySB/install/MySB_CleanAll.bsh

[2019-01-19 04:31] toulousain79 opened #52 "Fail2Ban, option pour désactiver les mails ?"
- [ ] Ajouter une option On/Off dans le portail pour désactiver l'envoie de mails
- [ ] Lire la doc pour régler la verbosité/fréquence des rapports si possible

[2019-01-19 04:37] toulousain79 opened #53 "PeerGuardian, ajout de listes de blocage"
- Actualiser les listes actuelles
  - [x] iBlocklist: General
  - [x] iBlocklist: Organizations
  - [x] iBlocklist: ISP
  - [x] iBlocklist: Country
  - [x] Pouvoir ajouter manuellement des listes (Nexus23 ?)

[2019-01-19 06:44] toulousain79 opened #54 "Bugs"
- [X] ajout utilisateurs à /etc/aliases
- [x] Openvpn, corriger génération zip, il manque des fichiers
- [x] quotas atteints à la moitié de l'espace alloué, convertir les Kb en blocks pour setquota
- [x] compatibilité NFSv4 et Quotas, quota semble inclure les points de montage doublant l'espace réel utilisé par utilisateur...
- [x] fonction fnUserNewFiles
- [x] Empêcher le choix 'admin' en tant qu

[2019-01-19 23:42] toulousain79 opened #55 "Bug fix"
- [ ] port 443 TCP, chevauchement possible entre OpenVPN et NginX

[2019-01-21 14:33] toulousain79 opened #56 "Table listant tous les ports réseaux exploités"
Lister tous les ports réseaux TCP et UDP actuellement utilisés ou qui le seront, pour permettre une vérification dynamique permanente.
- [ ] Pour le questionnaire (install et upgrade)
- [ ] Pour le portail lorsque que l'on veut modifier les ports actuels
- [ ] port 443 TCP/UDP, chevauchement possible entre OpenVPN et NginX

[2019-01-26 12:43] #42 closed, assigned to toulousain79

[2019-01-27 19:34] toulousain79 opened #57 "Ignorés"
- [ ] Utiliser directement IPtables/IPset en lieu et place de PeerGuardian ?

[2019-02-06 18:02] toulousain79 opened #58 "Ajout des download dans la liste d'attente des synchros"
Les download ne semblent plus s'ajouter à la file d'attente des synchros gérée par .rTorrent.bsh

[2019-02-06 20:26] #58 closed, assigned to toulousain79

[2019-02-10 15:01] toulousain79 opened #59 "Désactiver TSO & GSO pour Plex"
- [Why is my video stream buffering?](https://support.plex.tv/articles/201575036-why-is-my-video-stream-buffering/)
- [Massive buffering - SOLVED](https://forums.plex.tv/t/massive-buffering-solved/155491)
- [Linux tso (tcp segmentation offload)](https://forum.ivorde.com/linux-tso-tcp-segmentation-offload-what-it-means-and-how-to-enable-disable-it-t19721.html)
- [linuxfoundation](https://wiki.linux

[2019-02-10 15:05] toulousain79 commented on #59
- [Why is my video stream buffering?](https://support.plex.tv/articles/201575036-why-is-my-video-stream-buffering/)
- [Massive buffering - SOLVED](https://forums.plex.tv/t/massive-buffering-solved/155491)
- [Linux tso (tcp segmentation offload)](https://forum.ivorde.com/linux-tso-tcp-segmentation-offload-what-it-means-and-how-to-enable-disable-it-t19721.html)
- [linuxfoundation](https://wiki.linux

[2019-02-10 21:37] toulousain79 opened #60 "Backup"
- [x] nettoyage du dossier /opt/MySB_backup
  - [x] vieux backup Let's Encrypt
  - [x] vieux backup MySB

[2019-02-18 23:11] Ayenon opened #61 "Ajout d'un user pour l'authentification SSH"
Hello

Comme vu via Discord, j'ajoute en ToDo l'idée du user SSH + blocage du root en SSH

* [x] Ajout d'un utilisateur spécial ou du main user portail MySB pour se connecter en SSH
   * [x] Ajout dans le groupe SUDO
 * [x] Configuration SSH `PermitRootLogin` defaut system, libre modification

[2019-02-20 18:24] toulousain79 commented on #61
Concernant _PermitRootLogin_, je laisse la valeur par défaut lors d'une installation avec un changement libre.
Idem pour le reste de la config de _sshd_config_, les paramètres liés à MySB seront modifiées sans altérer le reste du fichier.

[2019-02-20 18:24] #61 closed, assigned to toulousain79

[2019-02-22 22:34] toulousain79 opened #62 "Installation de Let's Encrypt bloquée par apt-get présent dans Certbot-Auto"
Le script LetsEncrypt reste bloqué par une commande `apt-get install` lancée par certbo-auto.

The following additional packages will be installed:
  python3-pkg-resources python3-virtualenv
Paquets suggérés :
  python3-setuptools
Les NOUVEAUX paquets suivants seront installés :
  python3-pkg-resources python3-virtualenv virtualenv
0 mis à jour, 3 nouvellement installés, 0 à enlever et 0 non mis à

[2019-02-22 22:39] toulousain79 commented on #62
Ajout de l'installation des paquets **python3-pkg-resources** et **python3-virtualenv** directement au script LetsEncrypt pour disposer d'une installation silencieuse tout en conservant l'exploitation de certbot-auto.
Au passage, remplacement du script LetsEncrypt de la v5.4 par celle de la version en cours de dev incluant quelques corrections mineures.
En attente de validation.

[2019-02-23 11:12] #62 closed, assigned to toulousain79

[2019-02-23 17:08] GGTF38 commented on #62
Bonjour toulousain79,

J'essaie d'installer MySB depuis midi environ mais je me retrouve bloqué à l'étape 14 depuis environ 1h-1h30.
J'ai relancé l'installation complète depuis le script vers 14h.
Je crois que j'ai besoin d'aide ;)
Merci

-------------------------
EDIT
Autant pour moi, il y a eu une mise à jour 10 minutes avant mon post : un clean et une réinstall et ca fonctionne ;)
Merci !!!

[2019-02-23 18:26] toulousain79 commented on #62
Bonjour,

Effectivement, j'ai fait quelque chose qui ne fallait pas... Utiliser un script non validé pour la version 5.4.
J'ai restauré la version précédente du script LetsEncrypt.
Je viens de valider la correction avec 2 autres utilisateurs.
;-)

[2019-02-25 17:57] toulousain79 opened #63 "Bug Portail/Web"
- [x] l'accès aux logs via le portail, le système est cassé ?
- [x] portal page referer after applying configuration
- [x] ruTorrent plugin Check port
- [x] ruTorrent plugin plugin spacedisk, problème avec le fichier quota.txt ?
- [x] affichage de l'espace disponible dans cadre ajout utilisateur
- [x] modification des quotas de type manuels pour les utilisateurs existants
- [x] affichage lecture s

[2019-03-02 15:37] GGTF38 opened #64 "Répertoire "/var/log/nginx" manquant"
Bonjour à tous,

Petite remontée suite à l'installation de deux MySB :
- l'un samedi dernier
- l'autre ce samedi

Sur les deux installations, il manquait le répertoire /var/log/nginx ce qui empêchait le démarrage du service nginx après reboot.

`mars 02 15:31:49 xxxx.yyyyy.net nginx[4575]: nginx: [alert] could not open error log file: open() "/var/log/nginx/error.log" failed (2: No such file or di

[2019-03-07 18:35] toulousain79 commented on #64
Salut,

Peux-tu me de donner plus de détails stp ?
Voir même me fournir les logs d'installation via Discord en message privé _(/opt/MySB/logs/)_.

Car c'est bien la première fois que l'on me remonte cette erreur en 4 ans.
Ce dossier est censé se créer lors de l'installation de Nginx.
Je pense plus un autre problème qui aurait empêché Nginx de s'installer normalement.
Etant donné que la commande **

[2019-03-09 19:29] GGTF38 commented on #64
Salut,

Alors entre temps, j’ai refait complètement mon serveur Kimsufi, j’ai donc supprimé MySB de ce serveur… Je n’ai plus accès aux fichiers LOGs malheureusement.
Il me reste toujours un serveur chez Hetzner avec MySB dessus (et ca tourne du feu de dieu ! Encore merci), je peux te donner les LOGs de ce dernier ci ca t’intéresse car il présentait le même problème. Est-ce que tu veux tous les log

[2019-03-09 19:40] toulousain79 commented on #64
Hello,

Merci pour ton retour.
Oui, essaie Discord, c'est très pratique ;-)
[WiKi Support](https://github.com/toulousain79/MySB/wiki/%5BHelp%5D-Support)

Pour les logs, oui je veux bien que tu me les envoies, tous les fichiers contenus dans /optMySB/logs/.
Pour ce qui est du mail de fin d'installation, j'en saurai peut-être plus avec les logs.
Ca peut arriver que le mail ne parte pas lors du choix

[2019-03-09 20:00] GGTF38 commented on #64
Hello,

Voici les log.
Dans les archives tu trouveras le log de nginx où on peut voir qu’à la fin de l’install il n’a pas réussi a démarrer le service. Après je ne sais pas à quoi cela peut être du.

Jérôme

De : toulousain79
Envoyé : samedi 9 mars 2019 20:40
À : toulousain79/MySB
Cc : GGTF38 ; Author
Objet : Re: [toulousain79/MySB] Répertoire "/var/log/nginx" manquant (#64)

Hello,

Merci pour to

[2019-03-19 21:32] cayenne17 opened #65 "Pouvoir annuler modification interface MySB"
Ajout d'un bouton annuler modification

![Utilisateurs - Vivaldi_4](https://user-images.githubusercontent.com/47927025/54643171-8ba66b00-4a96-11e9-9bfe-344d38fd2364.png)

[2019-03-19 21:32] toulousain79 commented on #65
yes i know ;-)

thx

[2019-03-19 22:33] toulousain79 opened #66 "Forcer de vrais DNS au début de l'install..."
Certains DNS forcé par certains hébergeurs sont foireux...
Forcé avec au moins 9.9.9.9

[2019-03-19 22:37] toulousain79 opened #67 "Problème avec les locales"
Rarement, ce message apparaît continuellement et rend la machine imprévisible...
Cas rencontré sur un VPS de chez OVH.

perl: warning: Setting locale failed.
perl: warning: Please check that your locale settings:
        LANGUAGE = (unset),
        LC_ALL = (unset),
        LANG = "fr_FR.UTF-8"
    are supported and installed on your system.
perl: warning: Falling back to the standard locale ("C")

[2019-03-20 21:03] toulousain79 commented on #67
Ajouter dans la doc l'application manuelle du patch en cas de besoin AVANT d'installer
MySB (test avant avec une commande pour voir le besoin ?)

[2019-03-20 21:03] toulousain79 opened #68 "Plex, ajouter le/les ports à PeerGuardian ?"
Une coquille dans le code, Plex a évolué et j'ai une condition de trop permettant d'ajouter ou non les ports aux rêgles de firewall...

[2019-03-20 21:57] toulousain79 commented on #68
Bon, Plex a évolué ou c'est un reste de l'ancienne méthode d'installation via des sources...
La condition vérifiant la présence du fichier /usr/lib/plexmediaserver/start.sh n'est plus d'actualité car le fichier n'existe pas/plus via une installation avec dpkg.

[2019-03-20 21:57] #68 closed, assigned to toulousain79

[2019-03-20 22:01] toulousain79 commented on #66
Ajout de tous les DNS publiques utilisés dans MySB _(Quad9, Level 3 & OpenDNS)_

[2019-03-20 22:01] #66 closed, assigned to toulousain79

[2019-03-24 11:01] #59 closed, assigned to toulousain79

[2019-03-24 11:02] #41 closed, assigned to toulousain79

[2019-03-24 11:03] toulousain79 opened #69 "Pouvoir modifier les ports réseaux"
- [ ] Manuellement via ligne de commande
  - [ ] port HTTPs
  - [ ] port SSH
  - [ ] port FTPs
  - [ ] port OpenVPN TUN0
  - [ ] port OpenVPN TUN1
  - [ ] port OpenVPN TAP0

[2019-03-24 11:07] #54 closed, assigned to toulousain79

[2019-03-24 11:08] toulousain79 opened #70 "Check du process d'ajout d'une nouvelle IP via le portail"
- [x] check du process d'ajout d'une nouvelle IP, la règle de refresh ne semble pas toujours fonctionner

[2019-03-24 11:11] toulousain79 opened #71 "Perte des CRONs"
- [ ] vérifier la modification des Crons _(/tmp/crontab.tmp)_ _(2 cas rencontrés, le même utilisateur...)_

[2019-03-24 11:42] toulousain79 commented on #67
Locale forcée au [début](https://github.com/toulousain79/MySB/blob/v5.4/install/MySB_Install.bsh#L471) et [pendant](https://github.com/toulousain79/MySB/blob/v5.4/install/Tweaks#L94) l'installation.

[2019-03-24 11:42] #67 closed, assigned to toulousain79

[2019-03-24 11:59] #44 closed, assigned to toulousain79

[2019-03-27 19:07] #46 closed, assigned to toulousain79

[2019-03-29 19:33] #63 closed, assigned to nobody

[2019-03-29 19:33] #36 closed, assigned to toulousain79

[2019-03-29 19:46] #70 closed, assigned to nobody

[2019-04-05 17:48] #53 closed, assigned to toulousain79

[2019-04-08 18:23] #60 closed, assigned to nobody

[2019-04-14 08:25] toulousain79 commented on #51
Hello
Je viens seulement de prendre connaissance de vos messages...
Il semble que je n'ai pas reçu les notifications provenant de GitHub !

Pour répondre à vos posts, ce bug a été corrigé depuis en forçant l'installation des paquets Python nécessaires par le script certbot-auto _(Let's Encrypt)_. Car c'est ce dernier qui préparent l'environnement pour l'obtention du certificat.

A l'avenir, si jam

[2019-04-14 08:25] #51 closed, assigned to nobody

[2019-04-14 14:28] cayenne17 opened #72 "[BUG] Calcul quota ne prend pas en compte l'espace utilisé par l'utilisateur à modifier"
Bonjour,
Lors d'une modification quota utilisateur, je ne peux pas définir le quota au dessus de l'espace libre.
Lors du calcul, l'espace utilisé par l'utilisateur n'est pas pris en compte.
Le maximum que je devrais pouvoir modifier devrait être = **Utiliser par l'utilisateur+espace libre**

![Utilisateurs - Vivaldi_4](https://user-images.githubusercontent.com/47927025/56094153-1ed59380-5ed1-11e9-

[2019-04-14 15:18] toulousain79 commented on #72
Salut
Je relis nos échanges sur Discord.
Il me semblait pourtant que le problème de quota était réglé.
Dans quel contexte tu te retrouves à avoir ce problème ? Car techniquement, un user ne peut pas dépasser sa limite. Et dans ce cas, il est tout à fait possible d'augmenter le quota ou même de le diminuer dans certains cas. Tout dépendra de ton espace de stockage global.
Normalement les correctifs

[2019-04-14 18:32] toulousain79 commented on #72
ok, en fait je ne me suis jamais aperçu du problème car j'ai toujours suffisamment d'espace disque disponible pour faire les calculs
il faut que j'ajoute l'espace déjà occupé par l'utilisateur dans le calcul

Reproduction:
1/ diminuer disque de la VM
2/ fixer le quota en manuel pour un user
3/ combler à 75% l'espace alloué pour ce user
4/ modifier à nouveau l'allocation de l'espace pour ce user

[2019-04-18 20:35] #72 closed, assigned to toulousain79

[2019-04-18 20:37] toulousain79 commented on #72
@cayenne17
A valider de ton côté, mais du miens ça semble OK.
Il est maintenant possible de saisir n'importe quelle valeur.
Le bug provenait du côté PHP est non du calcul.

[2019-04-18 21:48] toulousain79 opened #73 "[BUG] OpenSSH Server mis à jour, config à corriger ..."
## Description simple du problème

Le paquet openssh-server semble avoir été mis à jour et la conf n'est plus bonne ou des paramètres sont dépréciés...
Pas d'accès SSH pour les nouvelles installations ?

**Reproduction du problème**

N/A

## Comportement prévisible

Pas d'accès SSH pour les nouvelles installations ?

## Captures d'écran

N/A

## Logs

Apr 18 21:28:55 seed sshd[786]: /etc/ssh/sshd_

[2019-04-20 15:53] toulousain79 opened #74 "[BUG] Obtention d'un certificat SSL pour l'ancien hostname"
## Description simple du problème

Lors d'une nouvelle installation, si le nom de la machine est modifié, l'obtention d'un certificat SSL avec Let's Encrypt est fait pour l'ancien nom et non pour le nouveau.

## Reproduction du problème

Étapes pour reproduire le problème:

1. Lancer une nouvelle installation de MySB
2. Lors du questionnaire, modifier le nom du serveur

## Comportement prévisible

[2019-04-20 19:02] #74 closed, assigned to toulousain79

[2019-04-25 19:43] toulousain79 opened #75 "Vérification SSL des annonceurs"
- [x] intégrer la gestion des ports spécifiques
- [x] lancer la vérification lors de l'ajout d'un torrent ?
- [x] ajouter les annonceurs en base lors de l'ajout d'un torrent ?
- [x] lorsqu'un nouveau tracker est détecté, envoyer un mail via la page rTorrent.php pour obtenir toutes les infos

[2019-04-26 00:17] toulousain79 opened #76 "Historique utilisateur après suppression"
- [x] supprimer l'historique d'un utilisateur après suppression

[2019-04-27 11:29] toulousain79 opened #77 "[BUG] Plex auto update"
## Description simple du problème

Les màj automatiques de Plex échouent.

## Reproduction du problème

Étapes pour reproduire le problème:

1. MySB_UpdateTools _(via MySB_GitHubRepoUpdate)_
2. vi /opt/MySB/logs/PlexMedia.log

## Comportement prévisible

MàJ auto de Plex

## Captures d'écran

N/A

## Logs

Directory : /opt/MySB_files
Version in DB : latest
File : /opt/MySB_files/Not installed
To u

[2019-04-27 11:40] toulousain79 commented on #77
https://github.com/toulousain79/MySB/commit/68d84b188e1479ff689c863d2cc57d53549a5100

[2019-04-27 11:40] #77 closed, assigned to toulousain79

[2019-05-10 21:50] toulousain79 opened #78 "Reconstruction des tâches cron via MySB_GitHubRepoUpdate"
Vérifier le nombre de tâches existantes, reconstruction si quantité non atteinte (+ nombres users)

[2019-05-19 18:01] #76 closed, assigned to toulousain79

[2019-05-20 21:15] toulousain79 opened #79 "[BUG] Installation échouée sur serveur Kimsufi"
Chez Kimsufi, Bind9 est installé par défaut et entraîne un conflit lors de l'installation de MySB.
Les serveurs fraîchement installé embarque, aujourd'hui, une flopée de paquets, pouvant entraîner des conflits lors de l'installation.

[2019-05-20 21:20] #73 closed, assigned to toulousain79

[2019-05-21 11:47] toulousain79 commented on #79
Dans ce cas, il s'agit du paquet Bind9 déjà présent faisant échouer l'installation de MySB.
Un patch a été ajouté pour détecter et désinstaller Bind9 au lancement de l'installation.

[2019-05-21 11:47] #79 closed, assigned to toulousain79

[2019-05-23 18:14] toulousain79 opened #80 "[Documentation] Mettre à disposition des vidéos de support"
Proposer plusieurs vidéos courtes pour aider à l'installation, à la configuration et/ou à l’utilisation.

[2019-05-24 12:32] shaine93 commented on #80
Je pense que c'est primordial pour ce projet , diminuer les questions d'installation et de faire découvrir MySB aux futurs utilisateurs , appréhender les diverses phases d'installations  , la sécurité et l'utlisation de MySB.

[2019-06-16 00:16] #78 closed, assigned to toulousain79

[2019-06-22 10:09] #75 closed, assigned to toulousain79

[2019-06-22 10:09] #37 closed, assigned to toulousain79

[2019-06-27 17:16] toulousain79 opened #81 "Portail"
- [ ] dashboard NetData sans Home.php
- [ ] revue du CSS
- [ ] mode light
- [ ] mode dark
- [ ] afficher les utilisateurs connectés ?
- [x] une modification mineur dans la page des synchronisations entraîne un restart de la session rtorrent... Identifier plus finement les types de modification

[2019-06-27 17:18] toulousain79 opened #82 "NetData"
- [x] remplacement de LoadAvg par NetData
- [x] intégration badges dans le portail
- [ ] désactivation temporaire des alarmes
- [ ] ajouter page pour gestion des notifications
- [ ] ajout de nouveau charts
  - [ ] openvpn
  - [ ] fail2ban

[2019-06-28 10:20] toulousain79 opened #83 "Supprimer Shell In Box?"
Certains users lancent un upgrade de MySB via Shell In Box... Bad way!

Soit je le supprimé du projet car tout peut déjà être fait via le portail ou alors programmé

Soit désactiver la commande MySB_UpgradeMe via Shell In box

[2019-06-28 17:04] #83 closed, assigned to toulousain79

[2019-06-28 17:05] toulousain79 commented on #83
Ajout d'un hack pour MySB_UpgradeMe et MySB_UpgradeSystem

[2019-06-29 16:17] lhucinequr opened #84 "Support docker?"
## Description simple du problème

Pas de support pour docker

## Reproduction du problème

docker-compose up -d

ERROR:
        Can't find a suitable configuration file in this directory or any
        parent. Are you in the right directory?

        Supported filenames: docker-compose.yml, docker-compose.yaml

1. '...'
2. '....'
'....'

## Comportement prévisible

Une description claire et conci

[2019-06-29 16:57] toulousain79 commented on #84
Hello
Pour un `docker-compose up -d`, il faut un fichier **docker-compose.yml** dans le répertoire courant.
Pour ma part, dans MySB, il n'y a, pour l'instant, aucun fichier **docker-compose.yml** disponible.

La version 6.0 est maintenant dispo, mais je n'ai pas encore travailler pour l'intégration d'images Docker.
Je vais m'y mettre.

[2019-06-29 16:57] #84 closed, assigned to toulousain79

[2019-06-30 06:26] crzay42 opened #85 "[BUG] installation cassé?"
## Description simple du problème

depuis ce matin impossibilité  l'installation ne se lance plus après le questionnaire (retour au début  du questionnaire)

## Reproduction du problème

Étapes pour reproduire le problème:

1. '...'
2. '....'
'....'

## Comportement prévisible

Une description claire et concise de ce à quoi tu t'attendais.

## Captures d'écran

Si possible, ajoutes des captures d'

[2019-06-30 06:47] crzay42 commented on #85
trouvé un log dans /tmp/MySB_install.bsh
juste avant de lancer l'install, j'ai cette erreur :
No Sockets found in /run/screen/S-root.

[2019-06-30 06:56] toulousain79 commented on #85
Salut
Tu réponds bien **oui** lors du récapitulatif des questions ?
Car sinon tu retournes au début du questionnaire.

Le message `No Sockets found in /run/screen/S-root.` n'est pas vraiment une erreur. Tu auras ce message aussi à la fin de l'installation.

Je t'invite à venir me rejoindre sur Discord pour en discuter.

[2019-06-30 07:22] crzay42 commented on #85
en effet,  boulet que je suis j'ai pas répondu oui lors du recap...

[2019-06-30 07:22] #85 closed, assigned to toulousain79

[2019-06-30 19:55] toulousain79 opened #86 "Configuration envoie de mail"
- [ ] retirer l'option LOCAL, un compte externe sera obligatoire
- [ ] ajouter une vérification de la saisie des identifiants de messagerie lors des questions avec envoie d'un mail de test _(code aléatoire à confirmer)_

[2019-07-01 14:18] zethis commented on #84
#MEGATROLL #WEWANTDOCKERSUPPORTASAP

[2019-07-01 16:28] toulousain79 opened #87 "NextCloud scan des fichiers"
- [x] revoir la méthode montage des points de montage externe (MySB_Home), le paramétrage ne semble plus complet même si fonctionnel en v16
- [x] valider ensuite si le files:scan du montage MySB_Home fonctionne à nouveau

[2019-07-01 16:29] toulousain79 opened #88 "Cakebox, lien de téléchargement non fonctionnel"
Erreur Nginx:

[error] 11411#11411: *3477 FastCGI sent in stderr: "PHP message: PHP Notice:  Trying to get property of non-object in /opt/MySB/web/apps/cb/app/controllers/other.php on line 33" while reading upstream, client: 127.0.0.1, server: _, request: "GET /api/app HTTP/1.0", upstream: "fastcgi://unix:/run/php/php7.1-fpm.sock:", host: "hostname"

[2019-07-01 16:32] toulousain79 opened #89 "ruTorrent"
Chargement des torrents via l'interface
- [x] download en attente ou retiré
- [x] téléchargement du torrent d'origine

Affichage de l'espace utilisé _(plugin diskspace + quota MySB)_
- [x] la valeur ne semble s'actualiser correctement même si le fichier quota.txt est mis à jour correctement
- [x] revoir mon hack

Lien incorrect avec rTorrent au reboot du serveur ou après un restart
- [x] identifie

[2019-07-01 19:26] toulousain79 opened #90 "Désactivation de la restriction IP"
La désactivation n'est que partielle.
Elle ne semble plus s'appliquait sur NginX.

[2019-07-01 20:02] toulousain79 commented on #84
lol, j'avais pas vu
tu payes ?

[2019-07-02 20:36] toulousain79 commented on #90
Fixed !
https://github.com/toulousain79/MySB/blob/v6.0/inc/funcs_by_script/funcs_MySB_SecurityRules#L114

[2019-07-02 20:36] #90 closed, assigned to toulousain79

[2019-07-02 20:37] toulousain79 commented on #87
https://github.com/toulousain79/MySB/blob/v6.0/install/NextCloud
https://github.com/toulousain79/MySB/blob/v6.0/bin/MySB_UpdateTools#L89

[2019-07-02 20:37] #87 closed, assigned to toulousain79

[2019-07-02 20:39] toulousain79 commented on #89
Rollback vers ruTorrent stable qui présente moins de problèmes avec certains JS.
Désactivation du plugin mediastream dont un Js pouvait bloquer sur certains navigateur.

[2019-07-03 07:39] zethis commented on #84
Les binouses et la nuit blanche avec plaisir.

[2019-07-09 16:11] toulousain79 commented on #88
Lié à l'issue #87 suite au problème d'accès aux montages externes gérés par NextCloud.

[2019-07-09 16:11] #88 closed, assigned to toulousain79

[2019-07-09 16:12] toulousain79 commented on #89
Revert vers la dernière version de ruTorrent 3.9.
Problème identifié et traité, lié à mon hack dans php/rtorrent.php.

[2019-07-09 16:12] #89 closed, assigned to toulousain79

[2019-07-09 18:36] toulousain79 opened #91 "Plex, synchro des fichiers non fonctionnelle ou partielle"
Plusieurs utilisateurs se retrouve avec des bibliothèques non mise à jour, ni manuellement, ni automatiquement.

Upgrade de MySB v6.0 en cause ou dernière version de Plex ?

Je vais installer une version précédente de Plex et tester.

Au niveau de MySB, il n'y a rien, selon moi, qui pourrait interférer avec Plex qui est une application complètement autonome quant au scan et la détection des fichie

[2019-07-09 19:00] toulousain79 opened #92 "Optimisations diverses"
- [ ] grouper les cumulation de 'sed' si possible et éviter les sous processus avec des pipes

[2019-07-09 19:19] toulousain79 commented on #91
Problème identifié grâce à la doc de Plex...
https://support.plex.tv/articles/201543057-why-is-some-of-my-content-not-found/

[2019-07-09 20:35] toulousain79 opened #93 "SSH, utilisateur principal autorisé pour les connexions SSH + SFTP"

[2019-07-11 20:14] toulousain79 commented on #91
Vraie fausse route ?
Les droits sur les fichiers sont les mêmes qu'avant.
Après avoir réinstallé Plex en supprimant le fichier `Preferences.xml` juste avant, le scan est à nouveau opérationnel...

A confirmer, j'ai besoin de plus retour d'utilisateurs.

[2019-07-11 20:19] Whisper40 commented on #91
Salut,malgré que je ne sois pas sur ton installation, il arrive parfois que certaines version de PLEX ne scan plus rien alors que l'app fonctionne.
La solution est pour moi de vider le Cache du Transcoder et de redémarrer PLEX, et après le Scan s relance normalement..

( t'a bien config les scans toutes les X.?)

Télécharger Outlook pour Android<https://aka.ms/ghei36>

____________________________

[2019-07-11 20:25] toulousain79 commented on #91
Merci pour ton retour.
C'est ce que j'ai fait avant d'essayer une méthode radicale.
Aucun fichier n'était plus détecté, seuls une poignée l'était.
J'ai appliqué les droits sur certains fichiers non détectés avec un `chmod +rx` comme indiqué dans la doc et relancé un scan. Et là ils sont vus directs...
Et à force de manipuler Plex j'ai été contraint de tout désinstaller et nettoyer Plex, puis réins

[2019-07-12 05:25] toulousain79 opened #94 "ruTorrent, Perte temporaire de la config SSL ?"

[2019-07-12 05:27] toulousain79 commented on #94
![image](https://user-images.githubusercontent.com/7481084/61104303-31327f80-a476-11e9-9b5f-d9dd9d6832bd.png)

- [ ] A quel moment cela bascule ?
- [x] Relance de la récupération des certificats manuellement via le portail :

1.  `Trackers > Liste des trackers > Sauvegarder les modifications`
2. `User > Options MySB > Redémarrer rTorrent ?`
3. `Appliquer les modifications`
4. Attendre un petit mom

[2019-07-12 20:01] toulousain79 commented on #94
Légère revue du code et changement des droits appliqués aux certificats.
Ajout d'un bouton dans la page `Liste des trackers` dans le portail pour forcer la mise à jour des certificats.

Application du patch pour la v6.0:

1. `MySB_GitHubRepoUpdate`
2. Renouvellement des certificats  ![image](https://user-images.githubusercontent.com/7481084/61155329-f3bf0800-a4f0-11e9-9f54-d13168de87b2.png)
3. Res

[2019-07-13 10:11] #94 closed, assigned to toulousain79

[2019-07-13 17:41] toulousain79 commented on #93
Exclusion du groupe sshdusers pour le cloisonnement à SFTP seulement.
Retrait de tous les utilisateurs, sauf le principal, du groupe sshdusers.

[2019-07-13 17:41] #93 closed, assigned to toulousain79

[2019-07-13 18:14] toulousain79 commented on #91
Tentative  de modification du fichier `Preferences.xml`.
`MySB_GitHubRepoUpdate`

[2019-07-17 19:48] toulousain79 commented on #91
De mon côté le problème semble être résolu via un `MySB_GitHubRepoUpdate` intégrant un patch corrigeant certainement une erreur avec un mauvais `umask` dans la config rTorrent lors de la création de nouveaux fichiers.
A confirmer par d'autres utilisateurs

[2019-07-18 19:02] toulousain79 commented on #64
Cas isolé ?
Pas de réponse de la part de GGTF sur Discord.
Je clôture cette issue

[2019-07-18 19:02] #64 closed, assigned to toulousain79

[2019-07-19 19:19] toulousain79 commented on #91
Problème résolu, le patch a corrigé le défaut !

[2019-07-19 19:19] #91 closed, assigned to toulousain79

[2019-07-27 00:33] toulousain79 commented on #40
https://mysb.gitbook.io/doc/support/faq/migrer-son-serveur

[2019-07-27 00:33] #40 closed, assigned to toulousain79

[2019-07-27 18:04] toulousain79 opened #95 "rTorrent/ruTorrent, mauvaise combinaison de version"
La version de ruTorrent mise à disposition n'est pas compatible avec rTorrent 0.9.8.

La version de rTorrent normalement fixée à 0.9.7 pointe en faite sur la 0.9.8...
Les dernières installation de MySB se sont vus rencontrer des problèmes avec leur session rTorrent !

- [x] patch pour installer la dernière version de ruTorrent incluant une compatibilité avec rTorrent 0.9.8 et libTorrent 0.13.8
- [

[2019-07-27 18:18] toulousain79 commented on #95
A tous les détenteurs de MySB v6.0, à vos consoles !

Merci d'exécuter la commande `MySB_GitHubRepoUpdate`
Une série de patch seront appliqués, dont le passage vers rTorrent 0.9.8, évitant ainsi certains problèmes ;-)

Il faudra attendre quelques minutes tout de même avant que les patchs soient appliqués...
Pour les impatients:
`tail -f /opt/MySB/logs/rTorrent.log`
puis
`tail -f /opt/MySB/logs/ruT

[2019-07-27 18:18] #95 closed, assigned to toulousain79

[2019-07-28 20:29] toulousain79 opened #96 "Support S3 pour montage de buckets"
L'idée est d'étendre les capacités de stockage et de limiter les téléchargements inutiles.
Suite à quelques tests, la lecture de fichiers sur bucket S3 à partir de Plex est tout à fait possible si les connexions le permettent.
Aussi, pourquoi ne pas intégrer la solution de "recyclage" des fichiers mis en place dans la v6.0 ?
Base de données commune _(ex: Mongo)_ pour référencer les fichiers avec l

[2019-07-29 16:18] toulousain79 commented on #47
- https://github.com/pyroscope/rtorrent-ps/issues/109
- https://www.reddit.com/r/torrents/comments/1uuuih/socks5_and_rtorrentrutorrent/

[2019-08-01 20:02] toulousain79 opened #97 "Préparation v7.0"
- [x] Migration Debian Stretch vers Buster
- [x] NextCloud v16.0.4
- [x] NetData v1.16.0
- [x] PHP v7.3

[Changelog](https://github.com/toulousain79/MySB/blob/v99.99/Changelog.md)

[2019-08-02 16:31] toulousain79 opened #98 "sFTP déconnexion au lancement d'un download"
La connexion par sFTP fonctionne.
Par contre, dès qu'on lance un download, FileZilla crache un "Transfert réussi" mais le download ne continue pas.

[2019-08-16 10:18] toulousain79 commented on #98
Vérifier le comportement une fois la migration vers Buster terminée

[2019-08-25 15:34] toulousain79 commented on #98
Le bug semble ne plus être présent après la migration vers Buster.
Test en FTPs et sFTP validés.

[2019-08-28 16:12] toulousain79 opened #99 "Minio gestion avancée"
- [ ] possibilité d'ajouter des buckets distants _(portail)_
- [x] création de buckets 'complete' par utilisateur
- [x] ajout d'un utilisateur 'externe' pour un montage via un autre serveur
- [x] inclusion du /home/user en tant que bucket
- [x] liens symboliques dans un bucket dédié ?
- [ ] API permettant le recyclage de fichiers à travers des buckets

[2019-09-03 20:26] #98 closed, assigned to toulousain79

[2019-09-03 20:26] #48 closed, assigned to toulousain79

[2019-09-09 10:44] #97 closed, assigned to toulousain79

[2019-09-09 10:44] #96 closed, assigned to toulousain79

[2019-09-17 04:56] Lucif3r-MorningSter opened #100 "[BUG] Not working on Debian 10"
After fresh install on Debian 10 server does not start after reboot and seedbox not reachable.

[2019-09-18 05:26] toulousain79 commented on #100
Hi
Maybe you don't respect prerequisites...
Please check it on https://mysb.gitbook.io/doc/installation/pre-requis

And come back with a confirmation

Bye

[2019-09-18 05:51] Lucif3r-MorningSter commented on #100
All prerequisites has present. I have installed it on debian 9 before.

[2019-09-18 11:30] toulousain79 commented on #100
So, you come from v6.0, and it's the upgrade that failed.

Please, come to Discord, and send me an archive of /opt/MySB/logs/ content
in private message.
I will investigate logs files.
Afterwards, I will maybe take hand with AnyDesk for a debug.

Le mer. 18 sept. 2019 à 07:51, lucif3r <notifications@github.com> a écrit :

[2019-09-19 11:39] toulousain79 commented on #100
Hi
I'm very busy this time.
So, I'll can help you but you must be patient...

Where is located your server, which provider?

[2019-09-20 09:35] Lucif3r-MorningSter commented on #100
My server is from hetzner. what is discord address?

[2019-09-20 09:45] toulousain79 commented on #100
https://github.com/toulousain79/MySB/wiki/%5BHelp%5D-Support

[2019-09-22 18:40] toulousain79 commented on #100
Hi
I have found the problem with Hetzner.
The Hetzner team had a new config file with Buster to force IPv6: /etc/systemd/network/10-mainif.network
I must find solution for comment or remove this 2 lines in it.
[code]

After renting a new server, I have checked this with deleting this lines and solution works !
I must find the lines code  to do this automaticly.

[2019-09-24 17:26] toulousain79 commented on #100
https://github.com/toulousain79/MySB/commit/5f6de3020a86897a7703afff4511087fd75d47b4

[2019-09-24 17:26] #100 closed, assigned to toulousain79

[2019-10-04 04:56] toulousain79 commented on #82
Notifications inbound packets dropped ratio

[2019-10-10 17:47] toulousain79 opened #101 "[BUG] Processus /usr/sbin/rpc.rquotad CPU burst (100%)"
A partir de Debian Buster, le paquet quota intègre une régression en intégrant la gestion de l'IPv6 entraînant un des CPU à 100% via le process /usr/sbin/rpc.rquotad.

Un patch a été appliqué mais pas encore disponible en stable.
Je vais donc tenté de forcer l'installation du paquet en testing.

[2019-10-10 20:17] toulousain79 commented on #101
Pour le correctif, attendre 12h00 demain que la tâche programmée se lance seule, ou lancer directement la commande `MySB_GitHubRepoUpdate` et attendre 2/3 minutes.

[2019-10-10 20:17] #101 closed, assigned to toulousain79

[2019-10-13 10:48] MetalDevOps opened #102 "systemctl reload cron"
## Simple description of the problem

Was receiving an error email "Failed to reload cron.service: Job type reload is not applicable for unit cron.service." I think the reason is using the systemctl reload cron command in the file MySB/install/Cron

can be used "sudo service cron reload" or "/etc/init.d/cron reload" instead

## Reproduce

Steps to reproduce the problem:

1. type systemctl -p CanRe

[2019-10-13 20:16] toulousain79 commented on #102
Hi,

Thanks for your feedback !
Thanks to you I have been able to fix the same problem for DNScrypt-proxy.

You can run the `MySB_GitHubRepoUpdate` command or wait for 12:00 tomorrow.

[2019-10-13 20:16] #102 closed, assigned to toulousain79

[2019-10-14 03:27] MetalDevOps opened #103 "[BUG] Bad response from server: (200 [parsererror,getplugins]) SyntaxError: Unexpected token '<'"
## Simple description of the problem

I just installed Debian and right after MySB and when opening rutorrent gives this error.

## Reproduce

Just install debian and install MySB

## Screenshot

![](https://i.imgur.com/SnTl8Mk.png)

## Logs

No installation errors in the logs, everything was installed correctly.

## Hardware and environment

Provider: Online.net
Server type: Dedi
MySB version: 7.

[2019-10-14 11:07] toulousain79 commented on #103
Hi

You can do this
service dnscrypt-proxy restart

And do a CTRL+F5 or CTRL+R in your browser.

[2019-10-14 11:10] JustShinobi commented on #103
It didn't work, I had tried to disable dnscrypt-proxy completely before, actually tried everything that came to mind.

[2019-10-14 11:28] toulousain79 commented on #103
Please, Can you check /var/log/nginx/rutorrent.log ?
And check with F12 in you browser to check any internet access error ?

[2019-10-14 12:17] JustShinobi commented on #103
Here the logs:

[rutorrent-access.log](https://github.com/toulousain79/MySB/files/3724397/rutorrent-access.log)
[rutorrent-error.log](https://github.com/toulousain79/MySB/files/3724398/rutorrent-error.log)

any internet error.

note: obviously i changed my IP and my server address for "myipaddress" and "myserveraddress:8189" respectively.

[2019-10-14 17:24] toulousain79 commented on #103
Removed of sync and for_rsync plugins.
Do a `MySB_GitHubRepoUpdate`

[2019-10-14 18:05] JustShinobi commented on #103
[rutorrent-error.log](https://github.com/toulousain79/MySB/files/3725759/rutorrent-error.log)
[rutorrent-access.log](https://github.com/toulousain79/MySB/files/3725760/rutorrent-access.log)

I did a new install of debian and installed MySB, the problem continues, I tried service dnscrypt-proxy restart and it did not solve.

[2019-10-14 18:46] toulousain79 commented on #103
Please, come to Discord https://github.com/toulousain79/MySB/wiki/%5BHelp%5D-Support
Did you have Anydesk ?
I will try a new installation to check that

[2019-10-14 18:48] JustShinobi commented on #103
i am KyO.NinjA on discord.

[2019-10-14 18:48] JustShinobi commented on #103
reinstalling debian again, will try again with fresh install.

[2019-10-14 20:37] toulousain79 commented on #103
the faulty plugin is fileupload...
Please do a `MySB_GitHubRepoUpdate` and add a feedback

[2019-10-15 05:11] #103 closed, assigned to toulousain79

[2019-10-17 11:10] toulousain79 opened #104 "[BUG] PeerGuardian désactivation de toutes les listes..."
En cas de désactivation de toutes les listes, PeerGuardian plante et amène des problèmes en cascade.

Soit, en désactivant toutes les listes on désactive complètement PeerGuardian (ce n'est pas li'idée).
Soit, on laisse activer une "fake" liste.
Soit, on laisse activer les listes par défaut.

Ce n'est pas urgent...

[2019-10-19 10:29] toulousain79 opened #105 "[BUG] PeerGuardian clé GPG expirée"
La clé GPG des sources moblock-deb.sourceforge.net a expirée empêchant l'installation de PeerGuardian et l'affichage d'un avertissement pour les installation existantes de MySB.

[2019-10-19 10:34] toulousain79 commented on #105
Suppression des sources moblock-deb.sourceforge.net uniquement utilisées pour PeerGuardian et installation via les fichiers *.deb.

[2019-10-19 10:39] #105 closed, assigned to toulousain79

[2019-10-19 10:39] toulousain79 commented on #105
`MySB_GitHubRepoUpdate`

[2019-10-19 10:41] #104 closed, assigned to toulousain79

[2019-11-02 07:02] Lucif3r-MorningSter opened #106 "Use rtorrent 0.13.6/0.9.6"
many trackers does not work well with the latest 0.13.7 and 0.13.8. Please add an option to use the 0.13.6 version.

[2019-11-02 08:04] toulousain79 commented on #106
nope, no adding v0.13.6 in sight for now ...
describe me your problem with some of these trackers, and please, give me the name of these trackers in private message on Discord
have you updated to MySB v7.1?

[MySB - Options Systèmes](https://mysb.gitbook.io/doc/configuration/options-systemes)
[MySB - Les trackers](https://mysb.gitbook.io/doc/mysb-en-detail/les-trackers)

[2019-11-03 19:32] toulousain79 commented on #106
hi
you do not want to explain to me what kind of problems you encounter with versions 0.9.7 and 0.9.8?
I close this issue...

[2019-11-03 19:32] #106 closed, assigned to nobody

[2019-12-05 21:36] eyden23 opened #107 "Dysfonctionnement que la synchro automatique après téléchargement d'un torrent"
Un torrent ajouté dans une catégorie ne se synchronise pas tout seul une fois terminé
par contre avec "Remettre un téléchargement dans la liste d'attente", pas de soucis.

le mode de synchro est bien en "Synchronisation directe"
j'utilise le script par défaut
Le script en lui meme fonctionne bien quand je le lance via "Remettre un téléchargement dans la liste d'attente"
je suis allé jusqu'à tout r

[2019-12-06 18:23] toulousain79 commented on #107
Hello
Je viens de faire un essaie avec la 7.1 et je peux confirmer la synchro directe fonctionne parfaitement...

[2019-12-08 11:17] toulousain79 commented on #107
Hello,

Effectivement, j'ai trouvé une petite régression dans le script de synchro par défaut...
Bug rencontré lors de l'ajout via ruTorrent ou plugin _(ex: Xirvik)_.

Le patch a déjà du être appliqué sur ta machine à 12h.
Mais tu peux aussi forcer l'application manuellement via les commandes suivantes:

[code]

Tiens moi au just stp

[2019-12-08 16:44] #107 closed, assigned to toulousain79

[2020-02-12 07:13] toulousain79 opened #108 "[BUG] Plex Preferences.xml, paramètres manquants après un upgrade"

[2020-02-12 19:34] #108 closed, assigned to toulousain79

[2020-02-28 14:29] romainlavisse opened #109 "Question par rapport a ton script ?"
Salut,
je viens de trouver ton script et il a l'air ultra complet.
J'ai deux questions :

- L'installation comprend t-elle le plugin autodl-irssi ?
- Peut on continuer d'utiliser le serveur normalement apres ? (apt-get et autre commande normale sur linux) car tu parles de la commande MySB_UpgradeMe pour faire des MAJ

Merci

[2020-03-07 12:13] toulousain79 commented on #109
Salut,
Je pense t'avoir répondu mais n'en suis pas certain.

Le plugin autodl-irrsi n'est pas inclus.
Tu peux continuer d'utiliser le serveur normalement, mais tu peux prendre le risque que les màj de MySB se fassent mal, ou ajouter un gravier dans le rouage.

La commande `MySB_UpgradeMe` ne sert uniquement qu'à mettre à jour MySB.
Par contre, la commande `MySB_UpgradeSystem`, permet quant à elle,

[2020-03-07 12:13] #109 closed, assigned to nobody

[2020-03-31 23:26] toulousain79 opened #110 "[BUG] Relecture du script d'init de rTorrent"
- vérifier typo
- vérifier cohérence

[2020-04-06 11:57] toulousain79 opened #111 "[BUG] Plex, verification de la génération du fichier préférences.xml"
Il semble qu'il y ait des soucis depuis quelques temps pour la configuration de Plex. L'ajout du serveur au compte semble non fonctionnel dans certains cas.

[2020-04-12 17:42] toulousain79 opened #112 "[BUG] Ajouter check Shell In Box pour MySB_UpgradeMe"
Suivre l'exemple: https://gitlab.com/toulousain79/MySB/-/blob/v7.2/bin/MySB_UpgradeSystem#L28

[2020-05-02 21:49] toulousain79 opened #113 "[BUG] Let's Encrypt renouvellement du certificat avec FileZilla"
Le nouveau certificat renouvelé n'est pas appliqué sous FileZilla.

[2020-05-03 18:01] #113 closed, assigned to toulousain79

[2020-05-06 01:06] toulousain79 opened #114 "[BUG] Exécution du process de fin d'upgrade avec MySB_UpgradeMe inutile"
Ne devrait pas se lancer si pas de nouvelle version disponible.

[code]

[2020-05-06 01:09] #112 closed, assigned to toulousain79

[2020-05-06 01:22] #114 closed, assigned to toulousain79

[2020-05-17 21:04] toulousain79 opened #115 "Ajout NFO si manquant"
Générer un fichier NFO  pour les synchro avec création d'un sous dossier

[2020-06-16 20:17] toulousain79 opened #117 "[BUG] Gestion des listes de blocage périmées"
## Description simple du problème

En cas d'utilisation de listes avec abonnement, quand l'abonnement est périmé, les listes deviennent inaccessibles et empêchent la mise à jour des listes standards.

Prévoir une alerte par mail en cas d'erreur, et désactiver temporairement ces listes pour permettre la mise à jour des listes standards.

[2020-09-10 22:53] adir6 opened #118 "[BUG] Discord Link in your Github Page is Wrong!"
Discord Link is Wrong!

[2020-10-30 18:13] shaine93 opened #119 "Installation qui plante debian 10"
Bonsoir sur une fresh installation sur debian 10  sur Hetzner , il bug sur l'install de sendbox manager , les points défilent et j'ai laissé tourné toute la nuit. Aprés plusieurs essais j'ai decidé de ne pas installer sendbox et le probleme se décale, impossible de finir l'installation . Merci par avance
![Capture d’écran 2020-10-29 à 19 33 31](https://user-images.githubusercontent.com/50988506/

[2020-11-08 23:00] toulousain79 commented on #119
Salut,
Merci pour ton retour.
Cakebox et Seedbox-Manager sont confrontés au même problème, le binaire composer qui a évolué si je dis pas de bêtises.
Pour l'instant je n'ai pas trop le temps de corriger le problème.
J'ai donc désactiver l'installation de Cakebox et Seedbox-Manager.

[2020-11-08 23:00] #119 closed, assigned to nobody

[2020-11-08 23:01] toulousain79 commented on #118
Hi
Wich  one ?

[2020-11-12 17:07] toulousain79 opened #120 "[BUG] Le chargement des torrents n'est plus fonctionnel"
L'ajout d'un torrent génère une alerte "Action non autorisée".

Aussi, les torrents YGG _(port 8080)_ ne démarrent pas à cause d'une règle iptables _(PeerGuardian)_ n'autorisant pas les requêtes sortantes sur les ports autre que 80 et 443.

[2020-11-12 17:11] toulousain79 commented on #120
L'alerte "Action non autorisée" est causée par l'inexistence des sous-dossiers dans rtorrent/torrents/<label>/.
Le bind du dossier /opt/MySB/web/apps/ru/share/users/<user>/torrents/ ne se fait pas au bon moment dans le script d'init de rTorrent (#110 ). Ce point est maintenant fixé.

[2020-11-12 17:12] toulousain79 commented on #120
Concernant YGG, les règles manquantes ont été ajoutées pour gérer les ports autre que 80 et 443.

[2020-11-12 19:22] #110 closed, assigned to toulousain79

[2020-11-13 14:00] toulousain79 commented on #120
[code]

[2020-11-13 14:00] #120 closed, assigned to toulousain79

[2020-11-14 07:20] toulousain79 commented on #118
Links validated

[2020-11-14 07:20] #118 closed, assigned to toulousain79

[2020-11-21 09:14] toulousain79 commented on #111
Un fichier Preferences.xml complet est généré directement lors de la première installation et bloque l'ajout du serveur Plex dans
le compte de l'utilisateur.
Il est donc nécessaire d'attendre que l'utilisateur configure Plex avant de remplir le fichier Preferences.xml.

[2020-11-21 09:14] #111 closed, assigned to toulousain79

[2021-01-21 18:19] pierreandre51 commented on #64
Bonjour,
Je déterre ce signalement car j'ai un problème similaire.
J'ai installé le serveur Nginx via SSH par apt install nginx puis apt install php-fpm sur un Raspberry PI4 sous Raspbian buster.
Tout s'est installé normalement et le serveur fonctionne.

MAIS quand je reboote le répertoire des logs "/var/log/nginx" disparait et le service ne démarre pas.
La commande : "sudo service nginx status"
f

[2021-01-23 11:40] toulousain79 commented on #64
Bonjour
Je ne fais pas le support pour ce type de cas.
Les RaspBerry ne font pas partis des pré-requis et ne sont pas supportés.
Désolé...
https://mysb.gitbook.io/doc/installation/pre-requis

[2021-01-23 16:45] pierreandre51 commented on #64
OK, je me suis dépanné en créant le répertoire dans le fichier/etc/rc.dBien que ça ne soit pas satisfaisant pour l'esprit.... Le 23 janv. 2021 12:40, toulousain79 <notifications@github.com> a écrit :

Bonjour

Je ne fais pas le support pour ce type de cas.

Les RaspBerry ne font pas partis des pré-requis et ne sont pas supportés.

Désolé...

https://mysb.gitbook.io/doc/installation/pre-requis

—Yo

[2021-01-24 17:19] pierreandre51 commented on #64
J'ai compris pourquoi je perds le répertoire /var/log/nginx :
J'ai mis  les fichiers temporaires et de logs en mémoire vive (tmpfs    /var/log dans le fichier fstab)
C'est donc normal qu'ils disparaissent...
Je laisse comme ça avec la création du répertoire /var/log/nginx dans /etc/rc.loc
et ça fonctionne bien.

[2021-02-02 15:06] Merlincool commented on #103
Yes I am stuck after enabling fileupload plugin, I checked this Solution https://github.com/toulousain79/MySB/commit/8c9f960f5ae0e4d57b0bc66959192838686ae2ff but I am totally not understanding what I am suppose to do? can you give some brief.

[2021-06-10 14:29] shaine93 opened #121 "[BUG]"
## Description simple du problème
Erreur sur dnscrypt-proxy lors d'une commande de mises a jours des règles .
Une description claire et concise du problème que tu rencontres.
Lorsque que je fais la commande My_SecurityRules Create il y a une erreur sur dsncrypt-proxy et Rutorrent est en panne
## Reproduction du problème

Étapes pour reproduire le problème:

1.dans le terminal lancer la commande My

[2021-06-17 10:24] toulousain79 commented on #121
Some parameters and elements of DNScrypt have been modified since version 2.0.45 making the MySB installation non-functional.

Some examples:

- [blacklist] has been renamed to [blocked_names]
- [ip_blacklist] has been renamed to [blocked_ips]
- [whitelist] has been renamed to [allowed_names]

Some fixes have also been applied such as:

- Certbot (Let's Encrypt) sources list
- PiP parameter

[2021-06-17 10:24] #121 closed, assigned to toulousain79